.cart-page{
  padding: 40px;
  text-align: center;
  background-color: #fff;

  #product-list {
    outline: none;
    text-align: center;

    ul {
      text-align: left;
      
      li {
        list-style: none;
        @include font-size(15);
        @include font-semibold();
        padding: 50px 60px 50px 25px;
        border-top: 1px solid $background;
        position: relative;

        @include mobile-s{
          text-align: center;
        }

        p {
          display: inline-block;
          vertical-align: middle;

          @include mobile-s{
            display: block;
          }
        }

        .dummy-div {
          display: inline-block;
          vertical-align: middle;

        }

        .delete_from_cart {
          background: #fff;
          border: none;
          box-shadow: none;
          outline: none;
          font-size: 0;
          position: absolute;
          top: 50%;
          right: 25px;
          margin-top: -12px;

          &:before {
            content: url(../images/kosz.png);
          }
        }

        .counter {
          display: inline-block;
          color: $red;
          @include font-size(18);
          @include font-semibold();
          vertical-align: middle;

          @include mobile-s{
            position: absolute;
            top: 50%;
            margin-top: -9px;
            left: 0px;
          }
        }

        img {
         // height: 90px;
          //width: auto;
          vertical-align: middle;
          margin: 0px 35px 0px 25px;

          @include mobile-s{
            margin: 0px auto 20px;
          }
        }
      }

      li:last-child {
        border-bottom: 1px solid $background;
      }
    }
  }

  #next{
    background: #fff;
    float: none;
    outline: none;
  }

  .nav-cart{
    margin-bottom: 50px;

    @include mobile-s{
      text-align: left;
    }

    li{
      display: inline-block;
      @include font-semibold();
      @include font-size(16);
      padding: 25px 50px;
      position: relative;

      @include mobile-s{
        display: block;
      }
      
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        display: inline-block;
        height: 1px;
        width: 105px;
        background: $red;

        @include mobile-s{
          height: 80px;
          width: 1px;
          bottom: auto;
          top: 50%;
        }
      }

      &:before{
        content: '';
        position: absolute;
        bottom: -7px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #fff;
        border: 2px solid $red;
        @include border-radius(10px);

        @include mobile-s{
          bottom: auto;
          top: 50%;
          margin-top: -5px;
        }

      }

      a{
        color: $prim;
      }

    }

    li.active-cart{

      &:before{
        background: $red;
      }
    }

    li:first-child{

      &:before{
        right: 105px;

        @include mobile-s{
          right: auto;
          left: 0;
        }
      }

      &:after{
        right: 0px;

        @include mobile-s{
          right: auto;
          left: 5px;
        }
      }
    }

    li:last-child{
      margin-left: -4px;

      &:before{
        left: 105px;
        @include mobile-s{
          left: 3px;

        }
      }

      &:after{
        left: 0;

        @include mobile-s{
          display: none;
        }
      }
    }
  }

  #contact-data, #product-list{
    display: none;
  }

  #form-figel{

    .active-cart-content{
      display: block ;
    }


    #contact-data{
      outline: none;
      width: auto;
      text-align: left;
      margin-left: 220px;
      @include clearfix();

      @include tablet{
        width: 380px;
        margin: auto;
      }
      
      @include mobile-xs{
        width: 100%;
        text-align: center;
      }

      input:not([type="submit"]){
        display: inline-block;
        margin: auto;
        width: 340px;
        height: 35px;
        border: 1px solid #d7dadb;
        margin-bottom: 15px;
        outline: none;
        @include border-radius(5px);
        padding: 0px 15px ;

        @include mobile-xs{
          width: 240px;

        }
      }

      input.send{
        background: #fff;
        outline: none;
        margin-right: 0px;

        @include mobile-xs{
          float: none;

        }

        &:after{
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          background: #000;
      }
      }

      .input-wrapper{
        width: 370px;
        text-align: right;

        @include mobile-xs{
          width: 100%;
          text-align: center;
        }
      }

      .g-recaptcha {
       // width: 370px;
        //text-align: right;
        //margin: auto;
        display: inline-block;
        //width: 210px !important;
      }

      .g-recaptcha {


        @include mobile-xs{
          margin-left: 0px;
        }

        > div {
          margin-left: 68px;
          display: inline-block ;
          @include border-radius(5);
         // width: 210px !important;
          @include mobile-xs{
            margin-left: 0px;
          }
        }

        .error-msg{
          vertical-align: top;
          line-height: 76px;
          @include tablet{
            line-height: normal;
            margin-top: 15px;
          }

        }
      }

      div.error-msg{
        display: inline-block;
        color: $red;
        @include font-size(15);
        margin-left: 20px;
        
        @include tablet{
          margin-left: 0px;
          margin-bottom: 15px;
        }
        @include mobile-xs{
          display: block;
        }
      }
      input.error{
        border: 1px solid $red !important;
      }
      .placeholder{
        position: relative;

        @include tablet{
          display: inline-block;

        }
        .holder{
          position: absolute;
          @include font-size(15);
          padding: 8px 15px;
           span{
            color: $red;
          }
        }
      }

    }
  }
}
#success{
  color: green;
}

#error{
  color: $red;
}

#error, #success{
  text-align: center;
  @include font-size(15);
  margin-top: 20px;
}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.required::-webkit-input-placeholder:after {
  content:'*';
  color: red;
}
.required:-moz-placeholder:after {
  /* Firefox 18- */
  content:'*';
  color: red;
}
.required::-moz-placeholder:after {
  /* Firefox 19+ */
  content:'*';
  color: red;
}
.required:-ms-input-placeholder:after {
  content:'*';
  color: red;
}
