ol{
  margin: 0px 0px 0px 15px;
}
b{
  font-weight:normal;
  @include font-semibold();
}
iframe{
  max-width: 100%;
}
table{
  width: 100%!important;
}
#primary {
  margin-bottom: 50px;
  @include clearfix();

  @include tablet{
    margin-top:40px;
  }

  @include mobile{
    margin-top: 20px;
  }

  @include mobile-xs{
    margin-bottom: 30px;

  }
}
#primary.paged-products{
  margin-bottom: 70px;
}
#primary.paged{
  margin-bottom: 23px;
}
#content{
  padding-top: 80px;
}
.content-wrapper {
  width: auto;
  @include font-size(14);

  p{
    line-height: 24px;
  }
  strong {
    font-weight: normal;
    @include font-semibold();
  }

  .box {
    .image-wrapper {
      height: 160px;
      line-height: 160px;
      position: relative;
      margin-bottom: 20px;
    }
  }

  .box {
    width: 230px;
    margin: 0px 0 20px -4px;
    padding: 20px 20px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    @include mobile-xs{
      padding: 40px 0px 0px;
    }

    .image-wrapper{
      @include mobile-s{
        height: auto;
        line-height: normal;
      }

      &:before {
        content: url(../images/lupa.png);
        position: absolute;
        lefT: 50%;
        margin-left: -9.5px;
        opacity: 0;
        @include transition(opacity ease 0.3s);
      }
    }

   img {
      opacity: 1;
      vertical-align: middle;
      -webkit-backface-visibility: hidden;
      @include transition(opacity ease 0.3s);
    }

    h4 {
      @include font-size(15);
      @include font-semibold();
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: .7em;
    }

    &:hover {
      img {
        opacity: 0.2;

        @include tablet{
          opacity: 1;
        }
      }

      .image-wrapper {

        &:before {
          opacity: 1;
          -webkit-backface-visibility: hidden;

          @include tablet{
            display: none;

          }

        }
      }
    }
  }

  .pagination {
    @include font-semibold();
    @include font-size(17);
    color: $prim;
    width: 890px;
    display: block;
    text-align: center;
    float: left;
    margin-top: 3px;
    margin-left: 290px;

    @include tablet {
      margin-left: 0px;
      width: 100%;
    }

    span.active {
      color: $red;
    }

    span, a {
      padding: 0px 5px;
      @include mobile-xs{
        padding: 0px 2px;
      }
    }

    div {
      display: inline-block;
    }

    .nav-next {
      margin-left: 42px;
      margin-right: 32px;
      width: 16px;
      @include mobile{
        margin-left: 18px;
        margin-right: 8px;
      }
      @include mobile-xs{
        margin-left: 0px;
        margin-right: 0px;
      }
      a {
        display: block;

        &:before {
          content: '\e806';
          font-family: fontello;
          @include font-size(11);
          vertical-align: middle;
        }
      }
    }
    .nav-last {
      width: 23px;
      a {
        display: block;

        &:before, &:after {
          content: '\e806';
          font-family: fontello;
          @include font-size(11);
          vertical-align: middle;
        }
      }
    }
    .nav-prev {
      margin-right: 42px;
      margin-left: 32px;
      width: 16px;
      @include mobile{
        margin-right: 18px;
        margin-left: 8px;
      }
      @include mobile-xs{
        margin-left: 0px;
        margin-right: 0px;
      }

      a {
        display: block;

        &:before {
          content: '\e806';
          font-family: fontello;
          @include font-size(11);
          vertical-align: middle;
          display: inline-block;
          @include rotate(180);
        }
      }
    }

    .nav-first {
      width: 23px;
      a {
        display: block;

        &:before, &:after {
          content: '\e806';
          font-family: fontello;
          @include font-size(11);
          vertical-align: middle;
          display: inline-block;
          @include rotate(180);
        }
      }
    }

  }

  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.page-template-default{
  .certificates{
    .image-wrapper {
      height: 100px;
      line-height: 100px;
      margin-bottom: 0px;
      position: relative;
    }
    h5{
      margin-top: 15px;
    }
  }
}

.site-content {
  width: 1180px;
  margin: auto;
  @include clearfix();
  @include tablet {
    width: 90%;
  }
}

//BANNER
.banner {
  //display: none;
  height: 140px;
  background-image: url(../images/banner_podstrony.jpg);
  background-position: top 10% center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size:cover;
  position: absolute;
  top: 80px;
  left:0;
  right:0;
  width: 100%;
}

.page-header {
  z-index: 1;
  position: relative;
  margin-top: 73px;

  @include mobile{
    margin-top: 0px;
  }

  .page-title-wrapper{
    @include mobile{
      height: 140px;

      display: table;
      width: 100%;
    }
  }


   h1.page-title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    @include font-bold();
    margin-bottom: 15px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
    @include mobile{
      display: table-cell;
      vertical-align: middle;
    }
   }
}

//Breadcrumbs
nav.breadcrumbs {
  @include font-size(17);
  margin-bottom: 18px;
  margin-top: 30px;

  @include tablet{
    display: none;
  }

  a:first-child {
    font-size: 0;

    &:before {
      content: url(../images/home.png);
      display: inline-block;
    }
  }

  span:not(.separator) {
    color: $red;
  }

  > * {
    margin-right: 9px;
  }

  span.separator {
    border-top: 1px solid $prim;
    border-right: 1px solid $prim;
    width: 8px;
    height: 8px;
    display: inline-block;
    @include rotate(45);

  }
}

//CART
.cart {
  position: absolute;
  top: 80px;
  right: calc((100vw - 1180px) / 2);
  background-color: $red;
  @include font-size(16);
  @include transition(0.3s);

  @include tablet {
    right: 10px;
  }
  @include mobile-s{
    right: 0px;
  }

  > a {
    color: #fff;
    padding: 10px 30px;
    display: inline-block;

    &:hover {
      color: #fff !important;
    }

    > h4 {
      @include font-size(16);
      @include font-semibold();
      display: inline-block;
      padding-right: 30px;
    }

    > p {
      @include font-regular();
      display: inline-block;
    }
  }

  &:hover {
    background-color: $red-hover;

  }

}

// Button more
.more, .send {
  width: 104px;
  height: 31px;
  margin: 20px 0px 0 40px;
  padding: 0 20px 0 0;
  color: $red;
  border: 1px solid $red;
  @include border-radius(5px);
  float: right;
  @include font-semibold();
  @include font-size(14);
  @include transition(opacity 0.3s);
  position: relative;
  line-height: 29px;
  @include box-sizing(border-box);
  outline: none;
  text-align: center;
  opacity: 1;

  &:after {
    position: absolute;
    content: '';
    display: inline-block;
    right: 17px;
    top: 12px;
    width: 6px;
    height: 6px;
    @include rotate(45);
    border-top: 1px solid $red;
    border-right: 1px solid $red;
    //@include transition(opacity 0.3s);
  }

  &:hover {
    opacity: 0.6;
  }
}
.more{
  margin: 20px 40px 0;
}

.send {
  padding: 0;
}

article {
  background-color: #fff;
  margin-bottom: 20px;
  @include font-size(14);
  line-height: 24px;

  h2.title {

    display: block;
    color: $red;
    @include font-semibold();
    @include font-size(22);
    margin-bottom: 20px;

    @include mobile {
      text-align: left;
    }
  }

  .date {
    display: inline-block;
    text-align: left;
    margin-right: 22px;
    @include font-semibold();
    @include font-size(16);

    @include mobile-xs{
      display: block;
      margin-bottom: 20px;
    }
  }
}
.etykiety{
  padding: 6px 16px;
  display: inline-block;
  color: #fff;
  @include font-semibold();
  @include font-size(13);
  text-transform: uppercase;
  margin-right: 4px;
  margin-bottom: 20px;
  float: left;
  margin-top: 5px;
  @include transition(0.3s opacity ease);
}

.nowosc {
  background-color: $red;
}

.promocja {
  background-color: $green;
}

.wyprzedaz {
  background-color: $blue;
}

.realizacje {
  background-color: #fbe808;
}

.attachments {
  margin-bottom: 30px;
  ul {

    li {
      list-style: none;
      display: inline-block;
      width: 49%;
      margin-top: 20px;
      &:before {
        content: '\e800';
        font-family: fontello;
        color: #e21f23;
        margin-right: 30px;
        float: left;
        vertical-align: top;
        font-size: 27px;

      }
      > a {
        display: block;
        margin-top: 20px;
        padding-left: 52px;

      }
    }
  }
}

.news-content{
  ul{

    li{
      @include box-sizing(border-box);
      vertical-align: top;

      @include mobile-xs{
        width: 100%;
      }

      > a {
        margin-top: 0px;
      }
    }
    li:nth-child(odd){
      padding-right: 15px;

      @include mobile-xs{
        padding-right: 0px;
      }
    }
  }
}
//span {
//  @include font-semibold();
//  color: $blue;
//}

.normal-page {
  width: 100%;
  display: table;

  @include tablet {
    display: block;
  }

  .normal-page-content {
    display: table-cell;
    background-color: #fff;
    padding: 20px 33px 20px;
    vertical-align: top;

    @include tablet {
      display: block;
      padding: 30px 20px;
      text-align: center;

      > *:not(h2):not(.person):not(.image):not(.nav-cart) {
        text-align: left;
      }
    }

    h2 {
      color: $red;
      font-size: 1.375rem;
      font-family: Titillium-Semibold;
      text-align: center;
      background-color: #fff;
      margin-bottom: 20px;
    }

    a {
      @include transition(0.3s);
      color: $red;

      &:hover {
        color: $red-hover;
      }
    }

    div:last-child{
      margin-bottom: 0px;
    }
  }
}

.articles {

  article {

    div {
      margin-left: 0px !important;
    }
  }
}

.text {
  margin-bottom: 30px;
  list-style: none;
  @include font-size(14);

  h1{
    @include font-size(26);
    line-height: normal;
  }

  h2{
    @include font-size(22);
    line-height: normal;
  }

  h3{
    @include font-size(18);
    line-height: normal;
  }

  h4{
    @include font-size(16);
    line-height: normal;
  }

  h5{
    @include font-size(14);
    line-height: normal;
  }

  h6{
    @include font-size(12);
    line-height: normal;
  }

  ul{
    margin-left: 25px;
  }
}
.text, .text-columns{
  ul {
    li {
      list-style: none;
      //padding: 3px 0px;
      position: relative;
      padding-left: 17px;
      line-height: 24px;

      &:before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        left: 0px;
        top: 9px;
        display: inline-block;
        border-top: 1px solid #e21f23;
        border-right: 1px solid #e21f23;

        @include rotate(45);
      }
    }
  }
}
.image {
  text-align: center;
  margin-bottom: 30px;

  a {
    display: inline-block;
    position: relative;

    img {
      opacity: 1;
      @include transition(opacity ease 0.3s);
      -webkit-backface-visibility: hidden;
      max-width: 100%;
    }

    &:before {
      content: url(../images/lupa.png);
      position: absolute;
      lefT: 50%;
      top: 50%;
      margin-top: -9.5px;
      margin-left: -9.5px;
      opacity: 0;
      @include transition(opacity ease 0.3s);
    }

    &:hover {
      img {
        opacity: 0.2;

      }
      &:before {
        opacity: 1;
      }
    }
  }
}

#wideo, .video {

  iframe {
    max-width: 100%;

    @include mobile {
      width: auto;
      height: auto;
    }
  }
}

.gray-box {
  margin: 0px 20px 30px;
  background-color: #f2f2f2;
  padding: 20px;

  @include mobile-xs{
    margin: 0px 0px 30px;
  }
}

.quote {
  @include font-italic();
  padding-left: 45px;
  margin: 0px 40px 30px;
  position: relative;

  @include mobile-xs{
    margin: 0px 0 30px;
  }

  &:before {
    content: '\e805';
    font-family: fontello;
    color: #e21f23;
    font-size: 32px;
    position: absolute;
    left: 0;
  }
}

.table {

  h3 {
    @include font-size(18);
    text-align: center;
    @include font-semibold();
    margin-bottom: 50px;

    @include mobile-xs{
      margin-bottom: 30px;
    }
  }

  table {
    width: 100%;
    margin-bottom: 50px;

    @include mobile-xs{
      margin-bottom: 30px;
    }

    tr {
      border-top: 1px solid #e5e8e9;
      border-bottom: 1px solid #e5e8e9;

      td {
        padding: 5px 30px;
        vertical-align: top;
      }
    }
  }

  table.single {
    text-align: center;
  }

  table.double {
    text-align: left;

    @include mobile-xs{
      td{
        display:  block;
        //border-bottom: 1px solid $background;
        text-align: center;
      }

      tr:not(:first-child){
        border-top: none;
      }
    }
  }
}

.text-columns {
  @include clearfix();
  @include font-size(16);
  margin-bottom: 20px;

  .left-col, .right-col {
    width: 50%;
    float: left;
    padding: 0px 60px;
    @include box-sizing(border-box);

    @include mobile {
      width: auto;
      float: none;
      padding: 0px;
    }
  }
}
.bx-wrapper .bx-controls-direction a{
  z-index: 0 !important;
}
.gallery {
  width: 650px;
  margin: 0 auto 30px;

  @include mobile {
    width: auto;
  }

  .bx-wrapper {
    li{
      display: inline-block;
    }

    img {
      margin: auto;
    }
  }

  .bx-wrapper:first-child {

    position: relative;
    @include mobile{
      width: 400px;
    }

    @include mobile-xs{
      width: auto;
    }

    li{
      height:490px;
      text-align: center;
      position: relative;
      @include mobile {
        height: 200px ;
      }
    }
    img {
     // height: 490px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      width: auto;
      max-width: 100%;
      -webkit-backface-visibility: hidden;

      @include mobile {
        height: 200px ;
      }
    }

    .bx-controls{
      display: none;

      @include mobile{
        display: block;

      }
    }


    .bx-prev{
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      @include rotate(-135);
      position: absolute;
      left: 0px;
      display: block;
      margin-top: -16px;
      width: 16px;
      height: 16px;

      @include mobile-xs{
        width: 12px;
        height: 12px;
        left: -10px;
        margin-top: -12px;
      }
    }
    .bx-next{
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      @include rotate(45);
      position: absolute;
      right: 0px;
      display: block;
      margin-top: -16px;
      width: 16px;
      height: 16px;
      @include mobile-xs{
        right: -10px;
        width: 12px;
        height: 12px;
        margin-top: -12px;
      }
    }
  }

  .bx-wrapper:last-child {

    @include mobile {
      display: none;
    }

    li {

      &:hover {

        img {
          opacity: 0.2;
        }
      }
    }

    img {
      height: 100px;
      width: auto;
      opacity: 1;
      @include transition(opacity ease 0.3s);
      -webkit-backface-visibility: hidden;

      @include mobile {
        height: 60px;
      }
    }

    position: relative;
    margin-top: 15px !important;

    .bx-prev {
      color: red;
      position: absolute;
      left: - 50px;
      //content: url(../images/arrow-slide.png);
      width: 10px;
      height: 10px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      display: block;
      margin-top: -5px;
      @include rotate(-135);
    }

    .bx-next {
      position: absolute;
      right: - 50px;
      //content: url(../images/arrow-slide.png);
      width: 10px;
      height: 10px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      display: block;
      margin-top: -5px;
      @include rotate(45);
     }
  }
}

.person {
  width: 450px;
  margin: 0px auto 45px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;

  @include mobile {
    width: auto;
    margin: 0px auto 20px;
  }

  h3 {
    @include font-semibold();
    @include font-size(17);
    color: $blue;
  }

  .description {
    @include font-regular();
    @include font-size(17);
  }

  .stanowisko {
    @include font-size(17);
    @include font-semibold();
    text-align: center;
  }

  .linki {
    width: auto;
    display: inline-block;
    text-align: left;
    margin-top: 15px;

    a {
      color: $prim !important;
      display: block;
      @include transition(0.3s);
      &:hover{
        color: $red !important;
      }
    }
  }

  a {
    @include font-semibold();
    @include font-size(16);
    display: block;
    &:before {
      content: '';
      display: inline-block;
      background-color: $red;
      width: 5px;
      height: 12px;
      margin-right: 5px;
    }

    span {
      color: $red;
    }
  }
}

.float-left {
  float: left;
}

.full-width {
  padding: 25px 183px 25px !important;

  @include tablet {
    padding: 30px 20px !important;
  }

  .text {
    padding: 0px 50px;

    @include tablet {
      padding: 0px;
    }
  }
}

.certificates {
  display: inline-block;
  width: auto;
  text-align: left;

  .box{
    margin: 0 0 10px -4px;
    padding: 10px 20px 0px;

  }
}

.jobs-list{
  @include font-size(16);
  .date{
    display: inline-block;
    text-align: left;
    margin-right: 22px;
    line-height: 31px;
    margin-bottom: 0px;
    @include font-regular();
  }

}

.jobs-single{
  @include font-size(16);
  margin-bottom:40px;
  @include clearfix();
  .place{
    float: left;

    @include mobile{
      float: none;
    }
  }
  .date{
    display: block;
    text-align: center;
    @include font-regular();

    @include mobile{
      float: none;
      text-align: left;
    }
  }
}

.banner.error-banner{
  height:310px;
  @include mobile{
    height: 250px;
  }
  @include mobile-s{
    height: 140px;
  }
}
.error404{
  .page-header{
    margin-top: 172px;
    @include mobile{
      margin-top: 90px;
    }
    @include mobile-s{
      margin-top: 0px;
    }
  }
  .page-title-wrapper{
    h1{
      @include bold();
      @include font-size(85);
      color: $red;

      @include mobile-s{
        @include font-size(30);
      }
    }
  }
  h1{
    text-align: center;
    @include font-semibold();
    @include font-size(30);
    margin: 50px auto 25px;
    @include mobile-s{
      margin: 0px auto 20px;
      @include font-size(22);
    }
  }
  .not-found{
    float: none;
    margin:auto;
    @include tablet-s{
      width: auto;
    }
    @include mobile-s{
      padding: 20px 10px ;
    }

  }
}
.error-404{

  .page-content{
    text-align: center;
    @include font-semibold();
    span a{
      color: $red;
    }
  }
  .more{
    padding: 0px 0px 0px 20px;
    float: none;
    display: inline-block;
    &:after{
      right:auto;
      left: 17px;
      @include rotate(225);
    }
  }

}
.info-wrap-form{
  width: 370px;
  margin: auto;
  @include mobile-s{
    width: 230px;
  }
}