#offices, #employees {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px;

  @include mobile {
    display: block;
  }

  .row-offices, .row-employees {
    display: table-row;

    @include mobile {
      display: block;
    }
  }

  li {
    display: table-cell;
    width: 50%;

    @include mobile {
      display: block;
      width: auto;
    }
  }

}

#map-wrapper {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 20px;

  @include tablet {
    padding: 20px;
  }
}

.mm-close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  list-style: none;
  padding: 25px;
  cursor: pointer;

  &:before {
    content: '';
    background-color: $red;
    width: 3px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 7px;
    @include transition(background-color ease 0.3s);
    @include rotate(-45);
  }

  &:after {
    content: '';
    background-color: $red;
    width: 3px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 7px;
    @include transition(background-color ease 0.3s);
    @include rotate(45);
  }
}
.page-template-contact_subpage, .page-template-contact_main{
  .normal-page-content{
    h2{
      margin-bottom: 0px;

      @include mobile{
        margin-bottom: 20px;
      }
    }
  }
  main#main{

    @include tablet{
      position: relative;
      padding-bottom: 380px;

      #map-wrapper{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-top: 20px solid #e5e8e9;
      }
    }
  }
}