footer.site-footer {

  & > div {
    width: 100%;
    margin: 0;
    display: block;
    //overflow: auto;
  }

  #top {
    text-align: center;
    padding-bottom: 40px;
    background: #fff;

    h4 {
      margin: 22px 0px 35px;
      @include font-semibold();
    }

    ul {
      height: 84px;

    }
    li {
      height: 100%;
      position: relative;
      img {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height:100%;
        height:auto;

      }
    }
    .bx-controls{
      display: none;
    }
  }

  #middle {
    padding: 20px 0px;
    background-color: #c0c4c5;

    @include mobile{
      text-align: center ;
    }
    
    nav{
      display: inline-block;
      padding-top: 8px;

      @include mobile{
        display: block;
        text-align: center;
      }

      li {
        display: inline-block;
        padding: 0px 20px;

        a {
          display: block;
          font-size: 0;
          opacity: 1;
          @include transition(0.3s);

          &:hover{
            opacity: 0.7;
          }
        }
      }

      li:first-child {

        a {

          &:before {
            content: '\e804';
            font-family: fontello;
            font-size: 28px;
            color: #999fa1;
          }
        }
      }

      li:nth-child(2) {

        a {

          &:before {
            content: '\e802';
            font-family: fontello;
            font-size: 28px;
            color: #999fa1;
          }
        }
      }

      li:last-child {

        a {

          &:before {
            content: '\e801';
            font-family: fontello;
            font-size: 28px;
            color: #999fa1;
          }
        }
      }
    }

    .job{
      float: right;
      margin-right: 90px;
      padding-left: 30px;
      position: relative;

      p{
        display: inline-block;
        
        @include mobile{
          text-align: left;
        }
      }

      @include mobile{
        float: none;
        text-align: center;
        margin-right: 0;
        display: inline-block;
        margin-top: 20px;
      }

      span{

        @include font-semibold();
      }

      &:before{
        content: '';
        display: inline-block;
        width: 20px;
        background: $red;
        height: 40px;
        position: absolute;
        left: 0;
        top: 3px;
      }
    }
  }

  #bottom {
    @include font-size(14);
    padding: 20px 0px;
    background: #fff;
    @include mobile{
      text-align: center;
    }

    p, li, nav {
      display: inline-block;
    }

    p{
      @include mobile{
        display: block;
        text-align: center;
      }
    }

    nav {
      margin-left: 30px;
      padding-left: 15px;
      border-left: 1px solid #d3d3d3;
      line-height: 25px;

      @include mobile{
        border: none;
        text-align: center;
        display: block;
        margin: 20px 0 0;
        padding: 0;

      }

      li {
        padding: 0px 15px;
      }
    }

    img {
      float: right;

      @include mobile{
        float: none;
        margin-top: 20px;
      }
    }
  }
}