html, body {
  width: 100%;
  margin: 0;
  background-color: #fff;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll;
}

header.site-header {
  padding: 0;
  background: #fff;
  height: 80px;
  position: fixed;
  top:0;
  right:0;
  left: 0;
  z-index: 1000;
  box-shadow: 3px 5px 13px 0 rgba(0, 0, 0, 0.16);

  .header-logo {
    float: left;
  }

  .site-title {
    display: block;
    margin: 22px auto;

    //&:before {
    //  content: url(../images/logo.png);
    //}

    @include mobile-s{
      margin: 30px auto;
    }
    img{
      @include mobile-s{
        max-width: 130px;
        max-height: 26px;
      }
    }
  }

  .navigation {
    float: right;
    @include tablet {
      display: none;
    }
  }

  &:after {
    @include clearfix();
  }
}

.sub-menu {
  display: none;
}

#main-navigation, #lang-navigation, #search-navigation {
  display: inline-block;

  li {
    display: inline-block;
  }
  .top-menu {

    > li {

      &:hover {

        > a {
          border-bottom: 5px solid $red;
        }
      }
    }


    > li:last-child {

      > a {
        color: $red;
      }
    }
  }

  > div > ul > li > a {
    text-transform: uppercase;
    padding: 26px 15px;
    border-bottom: 5px solid transparent;

  }

  > div > ul > li {

    .submenu-wrapper {
      //display: none;
      position: absolute;
      left: 0px;
      right: 0;
      background-color: $prim;
      top: 80px;
      z-index: 2;
      max-height: 0;
      overflow: hidden;
      @include transition(max-height ease .5s);

      .next {
        background: url(../images/arrow.png);
        position: absolute;
        right: calc((100vw - 1180px) / 2 - 60px);
        top: 40%;
        cursor: pointer;
        width: 16px;
        height: 41px;

        @media screen and (max-width: 1366px){
          left: calc(100vw - 80px);
          right:auto;
        }
      }

      .prev {
        background: url(../images/arrow.png);
        position: absolute;
        left: calc((100vw - 1180px) / 2 - 60px);
        top: 40%;
        @include rotate(180);
        cursor: pointer;
        width: 16px;
        height: 41px;

        @media screen and (max-width: 1366px){
          right: calc(100vw - 80px);
          left:auto;
        }
      }

      > .sub-menu {
        display: none;
        margin: auto;
        overflow: hidden;
        width: 1220px;
        padding-top: 25px;
        padding-bottom: 25px;

        @media screen and (max-width: 1366px){
          width: 1050px;
          padding-bottom: 0px;
        }

        .cells-wrapper {
          width: 9999999px;
          position: relative;
          left: 0px;

          > .cells-row-wrapper {
            @media screen and (max-width: 1366px){
              display: inline-block;
            }
            > li {
              position: relative;
              margin: 0 20px 0px;
              vertical-align: top;
              width: 265px;

              @media screen and (max-width: 1366px){
                margin: 0px 42px 0px;
              }

              > a {
                @include font-semibold();
                padding: 7px 0px;
              }

              > .sub-menu {

                li {
                  display: block;
                  position: relative;
                  padding-left: 20px;

                  &:before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 7px;
                    width: 7px;
                    height: 7px;
                    display: inline-block;
                    border-top: 1px solid $red;
                    border-right: 1px solid $red;
                    @include rotate(45);
                  }

                  a {
                    padding: 2px 0px;
                  }
                }
              }
            }
          }
          >.cells-row-wrapper:first-child{
            margin: 0 20px 25px;
            @media screen and (max-width: 1366px){
              margin: 0px 20px 25px;
            }
          }
          //>.cells-row-wrapper:first-child{
          //  @media screen and (max-width: 1366px){
          //    width: calc(100vw - 100px);
          //
          //  }
          //}
        }

        a {
          color: #fff;
          display: block;
        }
      }
    }

    &:hover {

      .submenu-wrapper {
        max-height: 1000px;
      }
    }
  }
}

#main-navigation, #lang-navigation {
  margin: 27px 0px;
  vertical-align: top;
}

//SEARCH
.inactive-btn-cover {
  z-index: 0 !important;
}

.search-btn-cover {
  height: 45px;
  width: 100%;
  top: -45px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.active-btn-bg, .active-btn-bg-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);

}

#search-navigation {
  margin-top: 14px;
}

.open-search {

  label {
    height: 85px !important;
  }
}

.widget_search {
  display: inline-block;
  width: 58px;
  height: 50px;
  float: right;

  form.search-form {
    width: 69px;
    float: right;
    height: 100%;

    &:before {
      font-size: 19px;
      content: '\e803';
      font-family: fontello;
      color: $red;
      display: inline-block;
      padding: 14px 17px 9px 30px;
      background-color: #fff;
    }
  }

  label {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    height: 0px;
    background-color: #fff;
    z-index: 10;
    overflow: hidden;
    text-align: center;
    @include transition(height ease .3s);
    box-shadow: inset 2px 6px 8px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 2px 6px 8px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 2px 6px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 6px 8px 0 rgba(0, 0, 0, 0.1);
  }

  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: border-box;
    border: none;
    width: 1180px;
    margin: 10px 0 0;
    height: 88%;
    padding: 0 200px 0px 0;
    @include font-regular();
    @include font-size(28);
    color: #c8c8c8;
  }

  div.clear {
    position: absolute;
    right: calc((100vw - 1180px) / 2);
    top: 30px;
    @include font-size(20);
    color: #c8c8c8;

    &:after {
      content: url('../images/close.png');
      margin-left: 25px;
    }
  }

  input[type="submit"] {
    position: relative;
    top: -90px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    -webkit-user-select: none;
    @include transition(background-image ease .3s);
  }

  input {
    outline: none;
  }
}

// END SEARCH

#lang-navigation {

  li.current-lang {
    display: none;
  }

  li {
    padding-left: 15px;
    border-left: 1px solid #d3d3d3;
  }
}

// MENU mobilne

.mm-button {
  width: 35px;
  position: relative;
  height: 26px;
  margin: 29px 0px 29px 30px;
  display: none;

  @include tablet {
    display: inline-block;
    float: right;
  }

  @include mobile-s{
    margin: 31px 0px 29px 30px;
  }

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 35px;
    background: $red;
    opacity: 1;
    left: 0px;
  }

  span#l1 {
    top: 0;
  }

  span#l2 {
    top: 10px;
  }

  span#l3 {
    top: 20px;
  }
}
.form-laczenia-ciecia{
  position:fixed;
  bottom: 10px;
  right: 10px;
  background-color: #F9a200;
  text-align: center;
  z-index:1000;
  width: 300px;
  height:82px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.34);
  display: table;

  @media screen and (max-width: 1440px){
    width: 260px;
    height: 60px;
  }

  @include mobile-xs{
    width: 100%;
    //left: 0;
    right: 0;
    bottom: 0;
  }

  .icon{

    //background-image: url(../images/form.svg);
    //background-repeat:no-repeat;
    //background-position: center center;
    width: 80px;
    height:82px;
    float: left;
    background-color: #fab532;
    position: relative;

    @media screen and (max-width: 1440px){
      width: 70px;
      height: 60px;
    }

    &:before{
      content: '\e807';
      font-family: fontello;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      color: #fff;
      font-size: 35px;

      @media screen and (max-width: 1440px){
        font-size: 30px;
      }
    }
  }
  p{
    color:#000;
    @include font-size(18);
    @include font-semibold();
    padding: 0px 23px 0px 23px;
    display: table-cell;
    vertical-align: middle;

    @media screen and (max-width: 1440px){
      padding: 0px 27px 0px 27px;
      @include font-size(14);
    }
  }
}
.form-laczenia-ciecia.form-hide{
  right: -220px;
  bottom: 112px;

  @media screen and (max-width: 1440px){
    right: -190px;
  }
  @include mobile-xs{
    right: calc(0% - (100% - 70px));
    bottom: 0px;
  }
}