.history {
  position: relative;
  padding: 0px 40px 25px 55px !important;
  text-align: left !important;

  @include mobile-xs {
    padding: 0px 20px 30px !important;
  }

  h2 {
    margin-bottom: 0px !important;
  }

  p {
    @include font-size(14);
    line-height: 24px;
  }

  .date {
    color: $red;
    position: relative;
    @include font-semibold();
    @include font-size(20);
    padding-left: 20px;
    //padding-top: 30px;
    display: inline-block;
    background: #fff;
    padding-right: 15px;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      @include border-radius(7px);
      border: 2px solid $red;
      position: absolute;
      left: -6px;
      top: 50%;
      margin-top: -5.5px;
      background: $red;
      z-index: 1;
    }
  }

  .last-date {
    line-height: 18px;
    margin-top: 7px;

    &:before {
      background: $red !important;
    }
  }

  > * {
    position: relative;

    &:after {
      content: '';
      width: 1px;
      background: $red;
      left: 0px;
      position: absolute;
      top: 0px;
      bottom: 0px;
    }
  }

  h2 {
    padding-bottom: 0px;
    padding-top: 20px;
  }
  div:last-child {
    position: relative;
    border-bottom: none;

    &:after {
      display: none;
    }
  }

  .image {
    display: inline-block;

    img {
      width: auto;
      height: 100px;
    }

  }
  .date-content {
    padding-bottom: 35px;
    padding-top: 20px;
    border-bottom: 1px solid $background;
    margin-bottom: -18px;
    padding-left: 80px;

    @include mobile-xs {
      padding-bottom: 30px;
      padding-left: 30px;
    }

    .image {
      margin-right: 4px;
      margin-bottom: 20px;
    }

    .video, .text {
      margin-bottom: 20px;
    }

    .video {
      text-align: center;
    }
  }
}

.history > .date ~ .date {
  padding-top: 0px;

  &:before {
    background: #fff;
  }
}

.history > .date-content ~ .date-content {
  padding-bottom: 30px;
}

