@charset "UTF-8";
.lease{
  padding: 25px 160px 25px !important;

  @include tablet{
    padding: 30px 20px !important;
  }
}
.table-lease {
  @include font-size(15);
  margin-bottom: 20px;

  th,  td:first-child{
    @include font-semibold();
    @include font-size(15);
    color: $red;
    text-align: left;
 }

  th:nth-child(2){
    text-align: center;
  }

  th{
    padding: 10px 20px;
  }

  td{
    padding: 20px 20px;

    @include tablet{
      padding: 10px 20px;
    }

    @include tablet-s{
      border: none;
      //border-bottom:1px solid #eee;
      position: relative;
      padding-left: 20%;
      @include box-sizing(border-box);
    }

    @include mobile{
      padding-left: 40%;
    } 

    @include mobile-s{
      padding: 10px 0px 10px 40%;
    }
    ul{
      li{
        list-style: none;
      }
    }

  }

  td.rate{
    @include font-semibold();
    @include font-size(20);
    text-align: center;
    @include tablet-s{
      text-align: left;
    }
    @include mobile{
      @include font-size(16);
    }
  }

  tr{
    border-bottom: 1px solid $background;
  }

  .name{
    width: 150px;

    @include tablet-s{
      width: auto;
    }

    .image-wrapper{
      display: inline-block;
      width: 48%;
      margin-right: 20px;
      vertical-align: middle;
      text-align: center;

      @include tablet-s{
        width: auto;
      }
    }

    h3{
      display: inline-block;
      vertical-align: middle;
      color: $prim;
      @include font-size(15);
      @include font-semibold();

      @include tablet-s{
        width: auto;
      }

      @include mobile{
        @include font-size(16);
      }

      span{
        @include font-regular();
      }
    }
  }

  @include tablet-s{
    table, thead, tbody, th, td, tr{
      display: block;
    }
     tr:first-child {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 10px;
      left: 6px;
      width: 20%;
      padding-right: 10px;
      white-space: nowrap;
      color: $red;
      @include font-semibold();
      @include font-size(15); 
    }

    td:nth-of-type(1):before { content: "Metoda"; }
    td:nth-of-type(2):before { content: ""; }
    td:nth-of-type(3):before { content: "Nazwa"; }
    td:nth-of-type(4):before { content: "Wyposażenie"; }
    td:nth-of-type(5):before { content: "Stawka"; }
  }
  @include mobile{
    td: before{
      width: 40%;
    }
  }
}