.logotypes {
  border-bottom: 1px solid $background;
  border-top: 1px solid $background;
  text-align: center !important;
  margin-bottom: 20px;

  a, span {
    margin: 20px 25px 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    @include mobile {
      display: block;
      margin: 20px auto;
    }

    img {
      height: 90px;
      width: auto;
      opacity: 1;
      @include transition(opacity ease 0.3s);
      -webkit-backface-visibility: hidden;

      @include tablet {
        height: 80px;
      }
    }

    h5{
      @include font-semibold();
      @include font-size(15);
      color: $prim;
      display: block;
    }
  }

  a:hover {

    img {
      opacity: 0.2;
    }
  }
}

.certificates {

  h5 {
    @include font-semibold();
    @include font-size(15);
    color: $prim;
  }
}