.page-template-main_page{
  #primary{
    @include tablet{
      margin-top: 0px;
    }
  }
}
.main-page-offer {
  width: 780px;
  background-color: #fff;
  float: left;
  text-align: center;
  @include clearfix();

  @include tablet{
    width: 68%;
  }

  @include tablet-s{
    width: 58%;
  }

  @include mobile{
    width: 70%;
    float: none;
    margin: auto;
  }

  @include mobile-s{
    width: 100%;
  }



  h2 {
    text-align: center;
  }

  > ul {
    padding: 18px 50px;
    text-align: left;
    @include tablet{
      padding: 30px 3%;
    }
    @include tablet-s{
      padding: 30px 50px;
    }
    @include mobile-s{
      padding: 30px;
      text-align: left;
    }

    > li {
      list-style: none;
      display: inline-block;
      @include font-size(17);
      @include font-semibold();
      line-height: 40px;
      width: 49.7%;
      @include box-sizing(border-box);

      &:after, &:before{
        overflow: visible!important;
        z-index: 10;
      }

      @include tablet-s{
        width: 100%;
      }
      @include mobile-xs{

        @include font-size(15);
      }
    }

    li:nth-child(even) {
      text-align: left;
      padding-left: 65px;
      position: relative;

      @include tablet{
        padding-left: 30px;
      }
      @include mobile-s{
        padding-left: 20px;
      }
      &:after, &:before {
        display: none;

        @include tablet-s{
          content: '';
          display: inline-block;
          position: absolute;
          background-color: $red;

        }
      }

      &:after {
        left: 0;
        top: 17px;
        width: 9px;
        height: 9px;
        @include border-radius(5px);

      }

    }

    li:nth-child(odd) {
      text-align: right;
      padding-right: 65px;
      position: relative;

      @include tablet{
        padding-right: 40px;

      }

      @include tablet-s{
        text-align: left;
        padding-right:0px;
        padding-left: 30px;
      }
      @include mobile-s{
        padding-left: 20px;
      }

      &:after, &:before {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: $red;
      }

      &:after {
        right: -6px;
        top: 17px;
        width: 9px;
        height: 9px;
        @include border-radius(5px);

        @include tablet-s{
          left: 0px;
          right: initial;
        }
      }
      

    }

    li:nth-child(odd) {
      
      &:before {
        right: -2px;
        top: 22px;
        width: 1px;
        height: 36px;

        @include tablet-s{
          left: 4px;
          right:initial;
        }
      }
    }
    li:nth-child(odd):nth-last-child(2) {
      &:before{
        display: none;
        @include tablet-s{
          display: block;
        }
      }
    }
    li:nth-child(odd):last-child{
      &:before{
        display: none;
      }
    }

    li:last-child{
      &:before {
        display: none;
        @include tablet-s{
          display: block;
        }
      }

    }

    li:nth-child(even):not(:last-child) {

      &:before {
        display: none;

        @include tablet-s{
          display: inline-block;
          left: 4px;
          top: 22px;
          width: 1px;
          height: 36px;
        }

      }
    }
  }
}

.main-page-banner {
  height: 530px;
  //background-image: url(../images/baner.jpg);
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  background-size:cover;

  @media screen and (max-height:900px), (orientation: portrait){
    height:300px;
  }
  @media screen and (max-height: 700px) and (max-width: 1370px){
    height: 220px;
  }

  .site-content {
    position: relative;
    height: 100%;
    margin-top: 80px;
  }
  .slogan {
    position: absolute;
    top: 50%;
    @include translate(0, -50%);
    margin-right: 100px;
    left: 0px;
    text-transform: uppercase;
    @include font-size(45);
    @include font-bold();
    color: #fff;
    line-height: 48px;

    //@media screen and (max-height: 700px){
    //    top: 90px;
    //}

    @media screen and(max-height: 700px), (max-width: 1024px){
      @include font-size(36);
    }

    @include mobile-s{
      left: 0;
      margin-right: 0px;
      @include font-size(28);
      line-height:normal;
    }

    p{
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
    }
    span {
      color: $red;
      @include font-bold();
    }
  }
}

.main-page-news {
  width: 390px;
  margin-left: 10px;
  float: right;
  margin-top: -161px;
  overflow: hidden;

  @include tablet{
    width: 31%;
    margin-left: 9px;
  }

  @include tablet-s{
    width: 40%;
  }

  @include mobile{
    float: none;
    margin: 35px auto 0;
    width: 70%;
  }

  @include mobile-s{
    width: 100%;
  }
  //li{
  //  @include clearfix();
  //  height: 375px !important;
  //}

  li > h4 {
    padding: 15px 30px;
    background-color: $red;
    min-height: 62px;


    @include tablet{
      @include font-size(18);
      padding: 15px;
    }

    a {
      color: #fff;
      line-height: 24px;
      display: inline-block;
      vertical-align: middle;

      &:hover{
        color: #fff;
      }
    }

    .dummy-div{
      display: inline-block;
      height: 62px;
      vertical-align: middle;

    }
  }

  li > p {
    padding: 0px 40px;
    @include font-regular();
    @include font-size(14);
    line-height: 24px;
  }

  .date {
    text-align: right;
    padding: 25px 40px;
    @include font-semibold();
    @include font-size(16)
  }


  .bx-pager {
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    z-index: 10;
  }

  .bx-viewport {
    padding-bottom: 40px;
    height: 333px !important;
    @include tablet{
      height:auto!important;
    }
  }
}

h2.offer-header {
  text-align: center;
  width: 780px;
  padding: 13px 0;
  @include font-semibold();

  @include tablet{
    width: calc(69% - 10px);
  }

  @include tablet-s{
    width: calc(60% - 10px);
  }

  @include mobile{
    width: auto;
  }
}