@import "sidebar";

.news-details {
  article {
    width: 655px;
    display: inline-block;
    padding: 20px 50px 20px;

    @include tablet{
      width: calc(100% - 40px);
      padding: 30px 20px ;
    }

    h5.etykieta{
      padding: 6px 16px;
      display: inline-block;
      color: #fff;
      @include font-semibold();
      @include font-size(13);
      text-transform: uppercase;
      margin-right: 4px;
      margin-bottom: 30px;
    }
    > .entry-header, .news-content {
      @include clearfix();
    }

    .news-content > div:last-child{
      margin-bottom: 0px;
    }
  }
}

