@import 'sidebar';


.news-list{
  article{
    width: 890px;
    float: right;

    @include tablet{
      float: none;
      width: 100%;
    }

    h5.etykieta{
      padding: 6px 16px;
      display: inline-block;
      color: #fff;
      @include font-semibold();
      @include font-size(13);
      text-transform: uppercase;
      margin-right: 4px;
     // margin-bottom: 30px;
      @include mobile-s{
        margin-bottom: 10px;
      }
    }

    h5:nth-child(5){
      margin-bottom: 20px;
    }

    > .entry-header{
      padding: 20px 40px 20px;
      @include clearfix();

      @include tablet{
        padding: 30px 20px;
      }

      @include mobile-xs{
        text-align: center;
      }

      .thumb-wrapper{
        margin-right: 30px;
        float: left;
        //margin-bottom:20px;
        width: 212px;
        text-align: center;
        @include mobile{
          margin-right: 20px;
          margin-bottom: 10px;
        }

        @include mobile-xs{
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 10px;
          float: none;
        }
      }

      p{
        text-align: left;
      }

      > div{
        margin-left: 240px;

        @include mobile{
          margin-left: 0px;
          text-align: left;
        }
      }
    }

    p:not(.date){
      margin-bottom: 25px;
    }

    .date{
      line-height: 31px;
      //margin-bottom: 20px;
    }

    .more{
      margin: 0px 0 0 4px;
    }
  }
}
.news-content{
  a{

    @include transition(0.3s);
    color: $red;
    &:hover{
      color: $red-hover;
    }

  }
}
.share-button-wrapper {
  display: inline-block;
  float: right;
  cursor: pointer;

  @include tablet-s{
    display: none;
  }

  &:hover .buttons {
    width: 110px;
    //overflow: auto;
  }

  .buttons{
    display: inline-block;
    width: 0;
    height: 27px;
    overflow: hidden;
    @include transition(width 0.5s);
  }

  p{
    @include font-semibold();
    @include font-size(16);
    position: relative;
    padding-left: 30px;
    display: inline-block;
    line-height: 27px;
    vertical-align: top;
    margin-right: 5px;


    &:before{
      content: url(../images/share.png);
      position: absolute;
      left: 0;
      top: 3px;
    }
  }

  .facebook, .google, .mail{
    display: inline-block;
    width: 27px;
    height: 27px;
    @include border-radius(19px);
    margin: 0px 2px;
    vertical-align: middle;
  }
  .facebook{
    background-color: #3b5998;
    position: relative;

    &:before{
      content: url(../images/facebook-share.png);
      position: absolute;
      left: 10px;
      top: 3px;


    }
  }

  .google{
    background-color: #db402c;
    position: relative;
    a{
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
    }
    &:before{
      content: url(../images/google-share.png);
      position: absolute;
      top: 2px;
      left: 5px;
    }
  }

  .mail{
    background-color: #0e9822;
    position: relative;
    a{
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
    }
    &:before{
      content: url(../images/mail-share.png);
      position: absolute;
      top: 3px;
      left: 7px;
    }
  }
}
