.not-found{
  width: 890px;
  background-color: #fff;
  float: right;
  padding: 40px 0px 50px;
  //min-height: 475px;
  text-align: center;
  @include tablet{
    width: auto;
    float: none;
    min-height: 0px;
  }
  &:before{
    content: '';
    display: inline-block;
    height: 475px;
    vertical-align: middle;
    @include tablet{
      height: 100%; 
    }
  }
  .page-content{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    @include font-size(16);

    img{
      display: block;
      margin: 0 auto 35px;
    }
  }
}
.error404{
  .not-found{
    padding: 40px 50px 50px;
    display: table;
    min-height: 0;
    &:before{
      display: none;
    }

    .page-content{
      display: table-cell;
    }
  }
}
.search-filter-results{
  .not-found{
    width: 790px;
    @include tablet{
      width: auto;
      float: none;
      min-height: 0px;
    }
  }
}