@charset "UTF-8";
.offer.products{
  .offer-list{
    position: relative;
    @include tablet{
      width: 100%;
    }
  }
}
.offer {
  display: table;
 // width: 100%;

  @include tablet {
    display: block;
    background-color: #fff;
    text-align: center;
  }

}
.offer-list.remove-padding{
  padding: 0px 33px 20px;
}
.products {

  .box {
    position: relative;

    h4{
      text-align: center;
      @include transition(0.3s opacity ease);
    }

    a{
      &:hover{
        color: initial;
      }
    }

    &:not(.archived):hover {
     // padding-bottom: 24px;

      .add_to_cart {
        opacity: 1;
        z-index: 1;
      }

      h4, &.new:after, &.sale:after, &.promo:after {
       // width: 0;
       // height: 0;
        opacity: 0;
        z-index: -1;
      }


      @include tablet{
        padding-bottom: 0;

        .add_to_cart{
          display: none;
        }

        h4, &.new:after, &.sale:after, &.promo:after{
         // width: auto;
          //height: auto;
          opacity: 1;
          z-index: 1;
        }
      }
    }

    //labels
    &.new:after {
      content: 'Nowość';
      @extend .etykiety;
      @extend .nowosc;
      position: absolute;
      bottom:0;
      left:50%;
      @include translate(-50%, 0);
    }
    &.promo:after {
      content: 'Promocja';
      @extend .etykiety;
      @extend .promocja;
      position: absolute;
      bottom:0;
      bottom:0;
      left: 50%;
      @include translate(-50%, 0);
    }
    &.sale:after {
      content: 'Wyprzedaż';
      @extend .etykiety;
      @extend .wyprzedaz;
      position: absolute;
      bottom:0;
      left: 50%;
      @include translate(-50%, 0);
    }
    &.archived:after {
      content: 'Produkt archiwalny';
      @extend .etykiety;
      background-color: #c3c3c3;
      position: absolute;
      bottom:0;
      left: 50%;
      width: 138px;
      @include translate(-50%, 0);
    }
  }

  .box.archived{
    h4{
      opacity: 0.2;
    }
    img{
      opacity:0.2;
    }

    .image-wrapper{
      &:before{
        display: none;
      }
    }
  }
}

.offer-list {
  background-color: #fff;
  padding: 20px 33px 0;
  width: 100%;
  display: table-cell;
  position: relative;

  @include tablet {
    display: inline-block;
    text-align: left;
 //   width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .add_to_cart {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 196px;
    left: 50%;
    margin-left: -47px;
    background-color: #fff;
  }

  h2 {
    color: $red;
    @include font-size(22);
    @include font-semibold();
    text-align: center;
    background-color: #fff;
    //margin-bottom: 40px;
  }
  .pagination {
    margin-left: 0px;
    float: none;
    position: absolute;
    bottom: -47px;
    left: 0px;
    right: 0;
  }
}

.offer-border {
  width: 100%;
  height: 1px;
  background: $background;
}

.add_to_cart {
  background: #fff;
  color: $red;
  border: 1px solid $red;
  outline: none;
  padding: 4px 17px 5px;
  @include font-semibold();
  @include font-size(14);
  @include border-radius(5px);
  @include transition(all ease 0.3s);

  &:hover {
    color: $red-hover;
    border: 1px solid $red-hover;
  }
}

.content-product {
  background-color: #fff;
  padding: 25px 30px 25px 0;
  margin-bottom: 20px;

  @include mobile{
    padding: 30px;
  }

  .gallery {
    width: 400px;
    margin: -61px 80px 30px 0; 
    float: left;


    @include tablet{
      margin: -61px 20px 30px 0;
    }
    @include mobile{
      float: none;
      margin: 0px auto 30px;
      width: auto;
    }

    p {
      @include font-size(17);
      text-align: center;
      margin-left: 150px;

      @include mobile{
        display: none;
      }
    }

    .bx-wrapper {

      img {
        margin: auto;
      }
    }

    .bx-wrapper:nth-child(2) {
      width: 260px;
      float: right;

      @include mobile{
        float: none;
      }

      .bx-viewport{
        a {
          height: 300px;
          line-height: 300px;
          width: 100%;
          text-align: center;
          display: inline-block;

          @include mobile-s{
            height: 200px;
            line-height: 200px;
          }
        }
      }


      img {
        width: 200px;
        height: auto;
        vertical-align: middle;
        display: inline-block;
      }

    }

    .bx-wrapper:first-child {
      display: inline-block;
      margin: 0px;
      width: 110px!important;
      height: 300px !important;
      @include mobile-s{
        height: 200px !important;
      }

      .bx-viewport{
        width: 110px!important;
        height: 300px !important;

        @include mobile-s{
          height: 200px !important;
        }
      }
      @include mobile{
        display: none;

      }

      li {
        padding-left: 40px;
        border-left: 5px solid transparent;
        @include transition(0.3s);
        height: 60px;
        position: relative;

        img {
          opacity: 1;
          @include transition(opacity ease 0.3s);
        }

        &:hover {
          border-left: 5px solid $red;

          img {
            opacity: 0.2;
          }
        }
      }

      img {
        //height: 60px;
        //width: auto;
        margin: 0px;
      }

    }

    .bx-controls{
      display: none;

      @include mobile{
        display: block;

      }
    }


    .bx-prev{
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      @include rotate(-135);
      position: absolute;
      left: - 50px;
      display: block;
      margin-top: -16px;
      width: 16px;
      height: 16px;

      @include mobile-xs{
        width: 12px;
        height: 12px;
        left: -10px;
        margin-top: -12px;
      }
    }
    .bx-next{
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      @include rotate(45);
      position: absolute;
      right: - 50px;
      display: block;
      margin-top: -16px;
      width: 16px;
      height: 16px;
      @include mobile-xs{
        right: -10px;
        width: 12px;
        height: 12px;
        margin-top: -12px;
      }
    }
  }
  .product-intro {
    margin-left: 480px;
    @include clearfix();

    @include tablet{
      margin-left: 420px;
    }

    @include mobile{
      margin-left: 0;
    }

    .col1 {
      width: 60%;
      float: left;
      //display: inline-block;
      margin-right: 20px;
      margin-bottom: 30px;

      @include tablet{
        width: 100%;
      }

      @include mobile{
        float: none;
        width: 100%;

      }

      h5 {
        display: inline-block;
      }

      .brand {
        margin-bottom: 40px;

        h5 {
          margin-right: 20px;
        }
      }

      .manager {
        margin-bottom: 40px;

        @include mobile{
          margin-bottom: 20px;
        }

        p {
          display: inline-block;
          vertical-align: top;
        }

        .mail {
          margin-right: 10px;
          @include tablet{
            display: block;
          }
        }

        span {
          @include font-size(17);
          @include font-semibold();
          color: $blue;
        }

        a {
          @include font-semibold();
          @include font-size(16);

          @include tablet{
            display: block;
          }

          &:before {
            content: '';
            display: inline-block;
            background-color: $red;
            width: 5px;
            height: 12px;
            margin-right: 5px;
          }

          span {
            color: $red;
          }
        }
        p.tel {

          a:first-child {
            margin-right: 10px;
          }
        }
      }
    }

    .attachments {
      display: inline-block;
      width:37%;
      @include tablet{
        width: 100%;
      }
      li{
        display: block;
        width: auto;
        line-height: 27px;
      }
    }

    .price{
      line-height: 30px;
      margin-right: 25px;
      span{
        color: $red;
      }
    }
  }

  h4 {
    color: $red;
    @include font-semibold();
    margin-bottom: 30px;
    margin-left: 480px;

    @include tablet{
      margin-left: 420px;
    }

    @include mobile{
      margin-left: 0;
      text-align: center;
    }
  }

  h5 {
    color: $prim;
    display: block;
    @include font-regular();
    @include font-size(17);
    vertical-align: top;
  }
}

.tabbed-content {
  background-color: #fff;

  li.tab {
    @include font-size(17);
    @include font-semibold();
    position: relative;
    cursor: pointer;
    list-style: none;
    display: inline-block;
    padding: 10px 50px;
    color: #a7abac;
    background-color: #dfe1e2;
    border-right: 2px solid #e5e8e9;

    @include mobile{
      display: block;
      padding: 10px 30px;
      border-bottom: 2px solid #e5e8e9;
      border-right: none;

    }
  }

  li.active {
    background-color: #fff;
    color: $prim;
    // border-right: 2px solid #fff
  }

  > div {
    display: none;
    padding: 50px 100px;
    @include font-size(14);
    line-height: 24px;

    @include mobile{
      padding: 50px 30px;
    }
  }

  div.active {
    display: block !important;
  }
  #opis{
    ul{
      margin-left: 40px;
    }

  }
  #dane {
    @include clearfix();
    //padding: 50px 260px;
    text-align: center;

    .dane-wrapper{
      display: inline-block;   
      margin: auto;
      width: 650px;

      @include mobile{
        width: 100%;
      }

    }

    .par{
      border-bottom: 1px solid $background;
    }

    .par-name, .par-value {
      padding: 3px 40px;
      vertical-align: top;
      width: 49%;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: left;

      @include mobile-xs{
        padding: 3px 15px;
      }

      &.indent {
        padding-left: 60px;
      }

    }

    .par:last-child {
      border: none;
    }
  }

  #wideo {
    text-align: center;
    padding-top: 75px;

    @include mobile{
      padding-top: 50px;
    }
  }
  ul {


    li:not(.tab) {
      list-style: none;
      //padding: 3px 0px;
      position: relative;
      padding-left: 17px;

      &:before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        left: 0px;
        top: 9px;
        display: inline-block;
        border-top: 1px solid #e21f23;
        border-right: 1px solid #e21f23;

        @include rotate(45);
      }
    }
  }
}

.results-wrapper {
  background-color: #fff;
  @include clearfix();
  min-width: 820px;
  float: left;
  width: auto;

  @include tablet{
    min-width: auto;
    float: none;
    display: table;
    margin: auto;
    text-align: center;
  }

  h3{
    text-align: center;
    @include font-size(15);
    margin: 15px 0px 0 ;
    
    @include tablet{
      display: none;
    }
  }

  article{
    //display: table-cell !important;
    padding-bottom: 65px !important;

  }
}

.search-filter-results {
  display: table-cell;
  width: 100%;
 // position: relative;
  @include tablet{
    display: block;
  }
}
.offer-row{
  display: table-row;
}
.offer-row:not(:last-child){
  article{
    border-bottom: 1px solid #e5e8e9;
  }
}

