.uil-rolling-css {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 10;
  @include tablet{
    top: 175px;
  }
  @include mobile-s{
    top: 125px;
  }
}

