.search-list{
  text-align: left;
  display: table;
  width: 100%;



  .row-search{
    display: table-row;
    width: 100%;

    @include mobile{
      display: block;
    }
    article{
      display: table-cell;
      width: 49%;
      float: none;
      vertical-align: top;
      border-bottom: 20px solid #e5e8e9;

      @include mobile{
        display: block;
        width: 100%;
        border-bottom: none;
      }
    }
    article:first-child{
      border-right: 20px solid #e5e8e9;

      @include mobile{
        border-right: none;
      }
    }
  }
}
.search{
  .not-found{
    float: none;
    margin: auto;

    &:before{
      display: none;
    }
  }
  .news-list{
    .pagination{
      margin: 3px auto 0 ;
      float: none;
    }
  }
}