.filters-wrapper, .categories-wrapper {
  vertical-align: top;

  > h4 {
    background-color: $red;
    @include font-semibold();
    color: #fff;
    padding: 15px 20px;
    text-align: center;
  }

  > ul {
    margin-bottom: 10px;
    min-height: 484px;

    > li {
      list-style: none;
      text-align: center;
      @include font-semibold();
      @include font-size(17);
      padding: 9px;
    }
  }

  form {
    margin-right: 20px;
    background-color: #fff;

    .hide-input {
      display: none;
    }
  }
}

.categories-wrapper {
  float: left;
  background-color: #fff;

  @include tablet {
    display: none;
  }

  h4 {
    margin-bottom: 10px;
  }
}


.filters-wrapper, .categories-wrapper {
  width: 270px;
}

.recent-wrapper {
  width: 360px;
  float: left;
  margin-right: 20px;

  @include tablet {
    display: none;
  }

  > ul {
    margin-bottom: 20px;

    > li {
      background-color: #fff;
      padding: 20px 30px;
      margin-bottom: 15px;
      list-style: none;
      @include font-semibold();
      @include font-size(17);
      @include clearfix();

      > .date {

        text-align: right;
        margin-right: 22px;
        @include font-semibold();
        @include font-size(16)
      }

      a.title {
        @include font-size(18);
        @include font-semibold();
        display: block;
        color: $red;
        margin-bottom: 30px;
      }

      p.excerpt {
        @include font-regular();
        @include font-size(14);
        line-height: 24px;
        margin-top: 20px;
      }

      a.more {
        margin-right: 0;
      }
    }
  }

  .person {
    width: auto;
    background-color: #f2f2f2;
  }
}
.filters-wrapper.open{
  h4{
    &:after{
      @include rotate(-45);

    }
  }
}
.filters-wrapper {
  display: table-cell;
  margin-right: 20px;
  @include clearfix();

  @include tablet {
    display: block;
    width: 100%;
    border-bottom: 20px solid #e5e8e9;
    cursor: pointer;
  }


  h4 {
    margin-right: 20px;

    @include tablet{
      margin-right: 0px;
      position: relative;

      &:after{
        content:'';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        @include rotate(135);
        position: absolute;
        right: 35px;
        top: 27px;
        @include transition(transform ease 0.3s, top ease 0.3s);
        transform-origin: 75% 25%;
      }
    }
  }

  //.form.open{
  //  display: block;
  //}

  form {
    padding: 0px 30px;
    width: 270px;
    @include box-sizing(border-box);

    @include tablet{
      display: none;
      margin: auto;
      text-align: left;
    }

    @media screen and (min-width: 1201px){
      display: block !important;
    }

    .chosen-container-single{
      @include tablet{
        width: 170px!important;
      }
    }

    h4 {
      @include font-semibold();
      @include font-size(15);
    }

    li {
      @include font-size(14);

      div.sf-meta-range.sf-meta-range-number {
        .sf-range-values-seperator {
          display: none;
        }

        label:nth-child(3) {
          display: none;
        }
      }
    }

    //select combobox
    .chosen-single {
      box-shadow: none;
      background: none;
      border: 1px solid #d7dadb;
      padding: 3px 0 3px 8px;
      position: relative;

      span {
        color: $prim;
        @include font-regular();
      }

      b {
        background: none;
        width: 0;
        height: 0;
      }

      &:after {
        position: absolute;
        top: 14px;
        right: 15px;
        margin-left: -4.5px;
        content: '';
        display: inline-block;
        height: 9px;
        width: 9px;
        border-right: 1px solid $red;
        border-top: 1px solid $red;
        @include transition(transform ease 0.3s, top ease 0.3s);
        @include rotate(135);
        zoom: 1;
        transform-origin: 75% 25%;
      }
    }

    .chosen-with-drop {

      .chosen-single {
        background: none;
        box-shadow: none;
        border: 1px solid #d7dadb;

        &:after {
          @include rotate(-45);
          zoom: 1;
        }
      }
    }

    .chosen-drop {
      border: 1px solid #d7dadb;
      z-index: 2;
    }

    .chosen-search {
      display: none;
    }

    li.highlighted {
      background-color: #fff !important;
      background-image: none !important;
      color: $red !important;
    }

    div.sf-meta-range label {
      width: 42%; 
    }

    span.sf-range-values-seperator {
      margin: 0 4%;
    }

    input[type="radio"], input[type="checkbox"] {
      display: none;
    }

    .sf-label-radio, .sf-label-checkbox {
      position: relative;
      padding-left: 26px !important;
      &:before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 2px;
        border: 1px solid #d2d2d2;
        border-radius: 5px;
      }
    }

    input[type="checkbox"]:checked + label:after {

      content: "\2713";
      font-size: 12px;
      text-align: center;
      line-height: 16px;
      position: absolute;
      left: 4px;
      top: 4px;
      color: red;
    }

    input[type="radio"]:checked + label:after {

      content: "";
      width: 5px;
      height: 5px;
      background-color: $red;
      font-size: 20px;
      text-align: center;
      line-height: 16px;
      position: absolute;
      border-radius: 5px;
      left: 6px;
      top: 8px;
    }

    input[type="number"], input[type="text"] {
      border: 1px solid #d7dadb;
      @include border-radius(5px);
      width: 100%;
      height: 28px;
      padding-left: 10px;
      outline: none;
    }

    input[type="number"]:disabled, input[type="text"]:disabled {
      background-color: #fff;
    }

    span {
      color: $red;
      @include font-regular();
    }

    .noUi-base {
      background: #d7dadb;
      @include border-radius(5px);
    }

    .meta-slider {
      height: 5px;
      border: none;
      box-shadow: none;
      margin-top: 20px;
    }

    .noUi-origin {
      background: #d7dadb;
      @include border-radius(0px);
    }

    .noUi-connect {
      background: $red;
      box-shadow: none;
    }

    .noUi-handle {
      width: 12px !important;
      height: 12px !important;
      border-color: $red;
      box-shadow: none;
      top: -3px !important;
      left: -5px !important;

      &:before, &:after {
        display: none;
      }
    }

    .noUi-background {
      box-shadow: none;
    }
  }
}

.sidebar-menu {

  width: 270px;
  display: table-cell;
  vertical-align: top;

  @include tablet {
    display: none;
  }

  ul {
    display: inline-block;
    width: 270px;
    background-color: #fff;
    padding-top: 61px;
    margin-right: 20px;
    background: $red;

    li {
      list-style: none;
      text-align: center;
      padding: 9px 30px;
      @include font-size(17);
      @include font-semibold();
      background: #fff;
    }
    li:first-child {
      padding-top: 18px;
    }
    li:last-child {
      padding-bottom: 250px;
    }

    .current_page_item {
      a {
        color: $red;
      }
    }
  }

  .person {
    width: auto;
    margin: 20px 20px 0 0;
  }
}