.sitemap {
  padding: 40px 100px 50px !important;
  text-align: center;
  
  @include tablet{
    padding: 30px 20px !important;
  }

  a {
    color: $prim !important;

    &:hover {
      color: $red !important;
    }
  }

  > ul {
    display: inline-block;

    > li{
      padding: 5px 0px;
      > a{
        @include font-semibold();
      }

    }
    > li:nth-child(3){
      > ul >li > ul{
        margin-top: 5px;
      }
    }
  }

  ul li ul {
    margin-left: 20px;

    li {

      padding: 3px 0px 3px 17px ;
      &:before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        left: 0px;
        top: 9px;
        display: inline-block;
        border-top: 1px solid #e21f23;
        border-right: 1px solid #e21f23;

        @include rotate(45);
      }
    }
  }

  ul li ul li ul {
    margin-left: 20px;
  }

  ul {
    text-align: left;
    li{
      list-style: none;
      position: relative;
    }

  }
  .subpage{
    width: 100%;

    @include mobile{
      width: auto;
    }

    > li{
      width: 30%;
      display: inline-block;
      vertical-align: top;

      @include mobile{
        width: 45%;
        @include box-sizing(border-box);
      }
      @include mobile-s{
        width: 100%;
      }
    }
  }
}
