.knowledge{
  .sidebar-menu{
    float: left;
  }
}
.technologies{
  .term{
    color: $prim;
    text-align: center;
    @include font-semibold();
    @include font-size(18);
    border-bottom: 1px solid $background;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .subterm{
    color: $red;
    margin-bottom: 25px;
    @include font-semibold();
    @include font-size(16);
  }
  .subterms-wrapper{
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  li{
    list-style: none;
    a{
      color: $prim !important;
      margin-left: 10px;
      @include font-semibold();
      @include font-size(14);
    }
    &:before{
      content:'';
      width: 7px;
      height: 7px;
      display: inline-block;
      border-top: 1px solid $red;
      border-right: 1px solid $red;
      @include rotate(45);
    }
  }
}