@charset "UTF-8";
@import "libs/mixins";
@import "libs/fonts";
@import "libs/breakpoints-desktop_first";
@import "header";
@import "footer";
@import "content";
@import "main-page";
@import "news-list";
@import "news_details";
@import "product-list";
//@import "cart-page";
@import "not-found";
@import "technologies";
@import "history";
@import "logotypes";
@import "contact";
@import "lease";
@import "sitemap";
@import 'rolling';
@import "search-list";

body{
  @include font-regular();
  color: $prim;
  font-size: 16px;
  background-color: $background;
  overflow-x: hidden;
  a{
    color: $prim;
    @include transition(0.3s);

    &:not(.more):hover{
      color: $red;

      @include tablet{
        color: $prim;
      }
    }
  }

  h1{
    @include font-size(36);

    @include mobile{
      @include font-size(30);
    }
  }

  h2{
    @include font-size(30);
    @include mobile-xs{
      @include font-size(26);
    }
  }

  h4{
    @include font-size(22);
  }

  h5{
    @include font-size(18);
  }

  h6{
    @include font-size(14);
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }


}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}