@font-face {
  font-family: "Titillium-Light";
  src: url("../fonts/titillium-light-webfont.eot?") format("eot"), url("../fonts/titillium-light-webfont.woff") format("woff"), url("../fonts/titillium-light-webfont.ttf") format("truetype"), url("../fonts/titillium-light-webfont.svg#Titillium-Light") format("svg"); }
@font-face {
  font-family: "Titillium-Regular";
  src: url("../fonts/titillium-regular-webfont.eot?") format("eot"), url("../fonts/titillium-regular-webfont.woff") format("woff"), url("../fonts/titillium-regular-webfont.ttf") format("truetype"), url("../fonts/titillium-regular-webfont.svg#Titillium-Regular") format("svg"); }
@font-face {
  font-family: "Titillium-Semibold";
  src: url("../fonts/titillium-semibold-webfont.eot?") format("eot"), url("../fonts/titillium-semibold-webfont.woff") format("woff"), url("../fonts/titillium-semibold-webfont.ttf") format("truetype"), url("../fonts/titillium-semibold-webfont.svg#Titillium-Semibold") format("svg"); }
@font-face {
  font-family: "Titillium-Bold";
  src: url("../fonts/titillium-bold-webfont.eot?") format("eot"), url("../fonts/titillium-bold-webfont.woff") format("woff"), url("../fonts/titillium-bold-webfont.ttf") format("truetype"), url("../fonts/titillium-bold-webfont.svg#Titillium-Bold") format("svg"); }
@font-face {
  font-family: "Titillium-Italic";
  src: url("../fonts/titillium-regularitalic-webfont.eot?") format("eot"), url("../fonts/titillium-regularitalic-webfont.woff") format("woff"), url("../fonts/titillium-regularitalic-webfont.ttf") format("truetype"), url("../fonts/titillium-regularitalic-webfont.svg#Titillium-Italic") format("svg"); }
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?81537507");
  src: url("../fonts/fontello.eot?81537507#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?81537507") format("woff2"), url("../fonts/fontello.woff?81537507") format("woff"), url("../fonts/fontello.ttf?81537507") format("truetype"), url("../fonts/fontello.svg?81537507#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?62559440#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-download:before {
  content: '\e800'; }

/* '?' */
.icon-icon-youtube:before {
  content: '\e801'; }

/* '?' */
.icon-icon-gplus:before {
  content: '\e802'; }

/* '?' */
.icon-search:before {
  content: '\e803'; }

/* '?' */
.icon-icon-facebook:before {
  content: '\e804'; }

/* '?' */
.icon-quote:before {
  content: '\e805'; }

/* '?' */
.icon-form:before {
  content: '\e807'; }

/* '?' */
.icon-arrow:before {
  content: '\e806'; }

/* '?' */
div.fancy-select {
  position: relative;
  color: #e21f23;
  font-size: 0.875rem; }

div.fancy-select.disabled {
  opacity: 0.5; }

div.fancy-select select:focus + div.trigger.open {
  box-shadow: none; }

div.fancy-select div.trigger {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color: #303030;
  width: 160px;
  box-shadow: none;
  background: none;
  border: 1px solid #d7dadb;
  padding: 3px 0px 3px 8px;
  line-height: 24px; }
  div.fancy-select div.trigger span {
    color: #303030;
    font-family: Titillium-Regular; }
  div.fancy-select div.trigger:after {
    position: absolute;
    top: 14px;
    right: 15px;
    margin-left: -4.5px;
    content: '';
    display: inline-block;
    height: 9px;
    width: 9px;
    border-right: 1px solid #e21f23;
    border-top: 1px solid #e21f23;
    -moz-transition: transform ease 0.3s, top ease 0.3s;
    -o-transition: transform ease 0.3s, top ease 0.3s;
    -webkit-transition: transform ease 0.3s, top ease 0.3s;
    transition: transform ease 0.3s, top ease 0.3s;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(135), M12=-sin(135), M21=sin(135), M22=cos(135));
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(135), M12=-sin(135), M21=sin(135), M22=cos(135))";
    zoom: 1;
    zoom: 1;
    transform-origin: 75% 25%; }

div.fancy-select div.trigger.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  div.fancy-select div.trigger.open:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-45), M12=-sin(-45), M21=sin(-45), M22=cos(-45));
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-45), M12=-sin(-45), M21=sin(-45), M22=cos(-45))";
    zoom: 1;
    zoom: 1; }

div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 31px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  overflow: auto;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #d7dadb;
  width: calc(100% - 6px);
  padding: 0 0 4px 4px; }

div.fancy-select ul.options.open {
  visibility: visible;
  top: 31px;
  opacity: 1;
  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/ }

div.fancy-select ul.options.overflowing {
  top: auto;
  bottom: 40px; }

div.fancy-select ul.options.overflowing.open {
  top: auto;
  bottom: 50px; }

div.fancy-select ul.options li {
  padding: 5px 6px;
  color: #303030;
  cursor: pointer;
  white-space: nowrap;
  font-family: Titillium-Regular;
  line-height: 15px; }

div.fancy-select ul.options li.hover {
  color: #e21f23; }

/*# sourceMappingURL=fancySelect.css.map */
