@import "libs/mixins";
@import "libs/fonts";
div.fancy-select {
  position: relative;
  color: $red;
  @include font-size(14);

}

div.fancy-select.disabled {
  opacity: 0.5;
}

//div.fancy-select select:focus + div.trigger {
//  box-shadow: 0 0 0 2px #4B5468;
//}

div.fancy-select select:focus + div.trigger.open {
  box-shadow: none;
}

div.fancy-select div.trigger {
  @include border-radius(5px);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color: $prim;
  width: 160px;
  box-shadow: none;
  background: none;
  border: 1px solid #d7dadb;
  padding: 3px 0px 3px 8px;
  line-height: 24px;

  span{
    color: $prim;
    @include font-regular();
  }

  &:after{
    position: absolute;
    top: 14px;
    right: 15px;
    margin-left: -4.5px;
    content: '';
    display: inline-block;
    height: 9px;
    width: 9px;
    border-right: 1px solid $red;
    border-top: 1px solid $red;
    @include transition(transform ease 0.3s, top ease 0.3s);
    @include rotate(135);
    zoom: 1;
    transform-origin: 75% 25%;
  }
}

//div.fancy-select div.trigger:after {
//  content: "";
//  display: block;
//  position: absolute;
//  width: 0;
//  height: 0;
//  border: 5px solid transparent;
//  border-top-color: #4B5468;
//  top: 20px;
//  right: 9px;
//}

div.fancy-select div.trigger.open {
  //background: #4A5368;
  //border: 1px solid #475062;
  //color: #7A8498;
  //box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &:after{
    // top: 17px;
    @include rotate(-45);
    zoom: 1;
  }
}

//div.fancy-select div.trigger.open:after {
//  border-top-color: #7A8498;
//}

div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 31px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  //max-height: 200px;
  overflow: auto;
  background: #fff;
  //border-radius: 4px;
 // border-top: 1px solid #7DD8D2;
  box-shadow: 0 4px 5px rgba(0,0,0,.15);
  //min-width: 200px;
  border: 1px solid #d7dadb;
  width: calc(100% - 6px);
  padding: 0 0 4px 4px;
  //transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  //-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  //-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  //-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  //-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
  visibility: visible;
  top: 31px;
  opacity: 1;

  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
  //transition: opacity 300ms ease-out, top 300ms ease-out;
  //-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
  //-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
  //-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
  //-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
  top: auto;
  bottom: 40px;

  //transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  //-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  //-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  //-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  //-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
  top: auto;
  bottom: 50px;

  //transition: opacity 300ms ease-out, bottom 300ms ease-out;
  //-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  //-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  //-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  //-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
  padding: 5px 6px;
  color: $prim;
  cursor: pointer;
  white-space: nowrap;
  @include font-regular();
  line-height: 15px;

  //transition: all 150ms ease-out;
  //-webkit-transition: all 150ms ease-out;
  //-moz-transition: all 150ms ease-out;
  //-ms-transition: all 150ms ease-out;
  //-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
  //background: rgba(43,134,134,0.3);
  //color: rgba(255,255,255,0.75);
}

div.fancy-select ul.options li.hover {
  color: $red;
}