@font-face {
  font-family: "Titillium-Light";
  src: url("../fonts/titillium-light-webfont.eot?") format("eot"), url("../fonts/titillium-light-webfont.woff") format("woff"), url("../fonts/titillium-light-webfont.ttf") format("truetype"), url("../fonts/titillium-light-webfont.svg#Titillium-Light") format("svg"); }
@font-face {
  font-family: "Titillium-Regular";
  src: url("../fonts/titillium-regular-webfont.eot?") format("eot"), url("../fonts/titillium-regular-webfont.woff") format("woff"), url("../fonts/titillium-regular-webfont.ttf") format("truetype"), url("../fonts/titillium-regular-webfont.svg#Titillium-Regular") format("svg"); }
@font-face {
  font-family: "Titillium-Semibold";
  src: url("../fonts/titillium-semibold-webfont.eot?") format("eot"), url("../fonts/titillium-semibold-webfont.woff") format("woff"), url("../fonts/titillium-semibold-webfont.ttf") format("truetype"), url("../fonts/titillium-semibold-webfont.svg#Titillium-Semibold") format("svg"); }
@font-face {
  font-family: "Titillium-Bold";
  src: url("../fonts/titillium-bold-webfont.eot?") format("eot"), url("../fonts/titillium-bold-webfont.woff") format("woff"), url("../fonts/titillium-bold-webfont.ttf") format("truetype"), url("../fonts/titillium-bold-webfont.svg#Titillium-Bold") format("svg"); }
@font-face {
  font-family: "Titillium-Italic";
  src: url("../fonts/titillium-regularitalic-webfont.eot?") format("eot"), url("../fonts/titillium-regularitalic-webfont.woff") format("woff"), url("../fonts/titillium-regularitalic-webfont.ttf") format("truetype"), url("../fonts/titillium-regularitalic-webfont.svg#Titillium-Italic") format("svg"); }
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?81537507");
  src: url("../fonts/fontello.eot?81537507#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?81537507") format("woff2"), url("../fonts/fontello.woff?81537507") format("woff"), url("../fonts/fontello.ttf?81537507") format("truetype"), url("../fonts/fontello.svg?81537507#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?62559440#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-download:before {
  content: '\e800'; }

/* '?' */
.icon-icon-youtube:before {
  content: '\e801'; }

/* '?' */
.icon-icon-gplus:before {
  content: '\e802'; }

/* '?' */
.icon-search:before {
  content: '\e803'; }

/* '?' */
.icon-icon-facebook:before {
  content: '\e804'; }

/* '?' */
.icon-quote:before {
  content: '\e805'; }

/* '?' */
.icon-form:before {
  content: '\e807'; }

/* '?' */
.icon-arrow:before {
  content: '\e806'; }

/* '?' */
.form-page {
  position: relative; }

.conditional-show {
  display: none; }

.show {
  display: block !important; }

.show-inline {
  display: inline-block !important; }
  @media (max-width: 600px) {
    .show-inline {
      margin-top: 20px !important; } }

.error {
  border: 1px solid #e21f23 !important; }

#error {
  color: #e21f23; }

#success {
  color: green; }

.result-msg {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 71px; }

span.star {
  color: #e21f23;
  margin: 0 0 0 5px; }

.nav-form {
  margin-bottom: 50px;
  text-align: center !important; }
  @media (max-width: 600px) {
    .nav-form {
      text-align: left;
      margin-bottom: 30px;
      display: inline-block; } }
  .nav-form li {
    display: inline-block;
    font-family: Titillium-Semibold;
    font-size: 1rem;
    position: relative;
    min-width: 210px; }
    @media (max-width: 1200px) {
      .nav-form li {
        min-width: 205px; } }
    @media (max-width: 759px) {
      .nav-form li {
        min-width: 150px;
        text-align: left; } }
    @media (max-width: 600px) {
      .nav-form li {
        display: block;
        min-width: initial; } }
    .nav-form li a {
      color: #303030 !important;
      padding: 20px 0;
      display: block;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      text-align: center; }
      @media (max-width: 600px) {
        .nav-form li a {
          padding: 8px 0px 8px 25px;
          text-align: left; } }
      .nav-form li a:before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 110%;
        left: -5%;
        right: -5%;
        background: #e21f23; }
        @media (max-width: 600px) {
          .nav-form li a:before {
            height: 35px;
            width: 1px;
            bottom: 11px;
            top: 50%;
            left: 6px;
            right: auto; } }
      .nav-form li a:after {
        content: '';
        position: absolute;
        bottom: -7px;
        width: 10px;
        height: 10px;
        background: #fff;
        border: 2px solid #e21f23;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        left: 0;
        right: 0;
        margin: auto;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        @media (max-width: 600px) {
          .nav-form li a:after {
            bottom: 11px;
            margin: 0; } }
      .nav-form li a.active:after {
        background: #e21f23; }
      .nav-form li a:hover {
        color: #e21f23 !important; }
        .nav-form li a:hover:after {
          background: #e21f23; }
    .nav-form li:first-child a:before {
      width: 50%;
      right: -5px;
      left: auto; }
      @media (max-width: 600px) {
        .nav-form li:first-child a:before {
          width: 1px;
          right: auto;
          left: 6px; } }
    .nav-form li:last-child a:before {
      width: 50%;
      left: -5px;
      right: auto; }
      @media (max-width: 600px) {
        .nav-form li:last-child a:before {
          display: none; } }

#form-figel {
  margin: auto; }
  #form-figel p {
    margin: 0 auto 40px;
    text-align: justify;
    width: 510px; }
    @media (max-width: 1200px) {
      #form-figel p {
        width: auto; } }
    @media (max-width: 600px) {
      #form-figel p {
        margin: 0 auto 20px; } }
  #form-figel h4 {
    font-family: Titillium-Semibold;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 20px; }
  #form-figel .step-title {
    display: none; }
  #form-figel .step-wrapper {
    width: 90%;
    margin: auto;
    display: none;
    text-align: center; }
    #form-figel .step-wrapper {
      *zoom: 1; }
    #form-figel .step-wrapper:before, #form-figel .step-wrapper:after {
      content: "";
      display: table; }
    #form-figel .step-wrapper:after {
      clear: both; }
    @media (max-width: 600px) {
      #form-figel .step-wrapper {
        width: 100%;
        text-align: center; } }
    #form-figel .step-wrapper.product-list {
      width: 100%; }
    #form-figel .step-wrapper.active {
      display: block; }
  #form-figel .product-list ul {
    outline: none;
    text-align: left; }
    #form-figel .product-list ul li {
      list-style: none;
      font-size: 0.9375rem;
      font-family: Titillium-Semibold;
      padding: 20px 60px 20px 25px;
      border-top: 1px solid #e5e8e9;
      position: relative; }
      #form-figel .product-list ul li * {
        display: inline-block;
        vertical-align: middle; }
      @media (max-width: 600px) {
        #form-figel .product-list ul li {
          text-align: center; } }
      #form-figel .product-list ul li div.counter {
        display: inline-block;
        color: #e21f23;
        font-size: 1.125rem;
        font-family: Titillium-Semibold;
        vertical-align: middle; }
        @media (max-width: 600px) {
          #form-figel .product-list ul li div.counter {
            position: absolute;
            top: 50%;
            margin-top: -9px;
            left: 0; } }
      #form-figel .product-list ul li div.dummy-div {
        height: 80px; }
      #form-figel .product-list ul li div.img-wrapper {
        width: 80px;
        margin: 0 35px 0 25px; }
        #form-figel .product-list ul li div.img-wrapper img {
          max-height: 80px;
          max-width: 80px;
          height: auto;
          width: auto; }
        @media (max-width: 600px) {
          #form-figel .product-list ul li div.img-wrapper {
            margin: 0 auto 20px; } }
      #form-figel .product-list ul li p.name {
        margin: 0; }
        @media (max-width: 600px) {
          #form-figel .product-list ul li p.name {
            display: block; } }
      #form-figel .product-list ul li button.delete_from_cart {
        cursor: pointer;
        background: #fff;
        border: none;
        box-shadow: none;
        outline: none;
        font-size: 0;
        position: absolute;
        top: 50%;
        right: 25px;
        margin-top: -12px; }
        #form-figel .product-list ul li button.delete_from_cart:before {
          content: url(../images/kosz.png); }
    #form-figel .product-list ul li:last-child {
      border-bottom: 1px solid #e5e8e9; }
  #form-figel .inputWrapper {
    margin: 35px auto;
    position: relative; }
    @media (max-width: 600px) {
      #form-figel .inputWrapper {
        margin: 0px auto 20px;
        text-align: left; } }
    #form-figel .inputWrapper.inline {
      display: inline-block; }
      #form-figel .inputWrapper.inline label {
        display: inline-block;
        text-align: left;
        margin-right: 40px; }
        @media (max-width: 600px) {
          #form-figel .inputWrapper.inline label {
            display: block;
            margin-bottom: 10px;
            margin-right: 0px; } }
    #form-figel .inputWrapper.placeholder {
      position: relative;
      width: 370px;
      margin: 15px auto; }
      @media (max-width: 600px) {
        #form-figel .inputWrapper.placeholder {
          width: 230px; } }
      #form-figel .inputWrapper.placeholder input {
        width: 100%;
        height: 35px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -moz-transition: margin 0.3s ease-in-out;
        -o-transition: margin 0.3s ease-in-out;
        -webkit-transition: margin 0.3s ease-in-out;
        transition: margin 0.3s ease-in-out;
        z-index: 2;
        position: relative; }
        #form-figel .inputWrapper.placeholder input.unfold {
          margin-bottom: 35px; }
      #form-figel .inputWrapper.placeholder .holder {
        position: absolute;
        font-size: 0.9375rem;
        padding: 8px 15px;
        top: 0;
        z-index: 3; }
        #form-figel .inputWrapper.placeholder .holder span {
          color: #e21f23; }
      #form-figel .inputWrapper.placeholder .error-msg {
        position: absolute;
        margin: 0;
        bottom: 0;
        color: #e21f23; }
    #form-figel .inputWrapper label.list {
      display: block;
      text-align: left;
      margin: 0 0 6px 0; }
    #form-figel .inputWrapper .field-info {
      display: block;
      margin-bottom: 20px; }
    #form-figel .inputWrapper .error-msg {
      position: absolute;
      margin: 0;
      bottom: -40px;
      color: #e21f23;
      left: 0;
      line-height: normal; }
      @media (max-width: 759px) {
        #form-figel .inputWrapper .error-msg {
          bottom: -25px; } }
      @media (max-width: 600px) {
        #form-figel .inputWrapper .error-msg {
          position: static;
          bottom: -20px; } }
  #form-figel .boxedWrapper {
    display: table;
    margin: 35px auto;
    width: 100%; }
    @media (max-width: 759px) {
      #form-figel .boxedWrapper {
        margin: 0px auto; } }
    @media (max-width: 600px) {
      #form-figel .boxedWrapper {
        margin: 0 auto; } }
    #form-figel .boxedWrapper.one-column {
      width: 50%; }
      @media (max-width: 1024px) {
        #form-figel .boxedWrapper.one-column {
          width: 80%; } }
      @media (max-width: 600px) {
        #form-figel .boxedWrapper.one-column {
          width: 100%; } }
    #form-figel .boxedWrapper .boxed {
      display: table-cell;
      vertical-align: top;
      position: relative;
      border-left: 15px solid #fff;
      border-right: 15px solid #fff;
      background-color: #F2F2F2;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 1024px) {
        #form-figel .boxedWrapper .boxed {
          display: block;
          width: 80%;
          margin: 0 auto 35px; } }
      @media (max-width: 600px) {
        #form-figel .boxedWrapper .boxed {
          width: 100%; } }
      #form-figel .boxedWrapper .boxed .inputWrapper {
        text-align: left;
        padding-bottom: 100px;
        position: relative;
        margin: 0; }
        @media (max-width: 600px) {
          #form-figel .boxedWrapper .boxed .inputWrapper {
            padding: 20px 20px 120px 20px; } }
        #form-figel .boxedWrapper .boxed .inputWrapper h4 {
          text-align: center; }
        #form-figel .boxedWrapper .boxed .inputWrapper.inline {
          padding-top: 20px; }
          #form-figel .boxedWrapper .boxed .inputWrapper.inline h4 {
            color: #169ce1; }
          #form-figel .boxedWrapper .boxed .inputWrapper.inline .error-msg {
            bottom: 60px; }
            @media (max-width: 600px) {
              #form-figel .boxedWrapper .boxed .inputWrapper.inline .error-msg {
                bottom: 98px; } }
        #form-figel .boxedWrapper .boxed .inputWrapper.bordered {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          border-top: 4px solid #fff;
          padding: 12px 0;
          text-align: center; }
          @media (max-width: 600px) {
            #form-figel .boxedWrapper .boxed .inputWrapper.bordered {
              padding: 12px 20px; } }
          #form-figel .boxedWrapper .boxed .inputWrapper.bordered h4, #form-figel .boxedWrapper .boxed .inputWrapper.bordered input {
            display: inline-block;
            margin: 0 0 0 10px; }
          @media (max-width: 600px) {
            #form-figel .boxedWrapper .boxed .inputWrapper.bordered h4 {
              margin: 0 0 10px 0px;
              display: block; } }
          #form-figel .boxedWrapper .boxed .inputWrapper.bordered span {
            margin-left: 5px; }
  #form-figel .g-recaptcha {
    width: 370px;
    text-align: right;
    max-width: 100%; }
    @media (max-width: 450px) {
      #form-figel .g-recaptcha {
        margin-left: 0;
        transform: scale(0.77);
        -webkit-transform: scale(0.77); } }
    #form-figel .g-recaptcha > div {
      display: inline-block;
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      -ms-border-radius: 5;
      border-radius: 5; }
      @media (max-width: 450px) {
        #form-figel .g-recaptcha > div {
          margin-left: 0; } }
    #form-figel .g-recaptcha .error-msg {
      left: 0;
      right: 0;
      bottom: -30px;
      text-align: center; }
      @media (max-width: 1200px) {
        #form-figel .g-recaptcha .error-msg {
          line-height: normal;
          margin-top: 15px; } }
  #form-figel .border {
    width: 100%;
    height: 0;
    border-top: 1px solid #e5e8e9;
    display: none; }
  #form-figel .globalError {
    color: #e21f23;
    display: none;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto; }
  #form-figel .info {
    float: left;
    line-height: normal;
    margin: 20px 0 0 0px;
    padding: 6px 42px 6px 0;
    width: auto; }
    @media (max-width: 600px) {
      #form-figel .info {
        margin: 0px; } }
  #form-figel button, #form-figel input[type="submit"] {
    background: #fff; }

input[type="radio"], input[type="checkbox"] {
  display: none; }
  input[type="radio"] + span, input[type="checkbox"] + span {
    position: relative;
    padding-left: 26px !important;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    input[type="radio"] + span:before, input[type="checkbox"] + span:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 3px;
      border: 1px solid #d2d2d2;
      border-radius: 5px;
      background-color: #fff; }

input[type=checkbox]:checked + span:after {
  content: "\2713";
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  position: absolute;
  left: 4px;
  top: 4px;
  color: red; }

input[type=radio]:checked + span:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #e21f23;
  font-size: 20px;
  text-align: center;
  line-height: 16px;
  position: absolute;
  border-radius: 5px;
  left: 6px;
  top: 9px; }

input[type="number"], input[type="text"] {
  border: 1px solid #d7dadb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 51px;
  height: 28px;
  padding-left: 14px;
  outline: none; }

textarea {
  resize: vertical;
  border: 1px solid #d7dadb;
  border-radius: 5px;
  padding: 8px 15px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset; }

.required::-webkit-input-placeholder:after {
  content: '*';
  color: red; }

.required:-moz-placeholder:after {
  /* Firefox 18- */
  content: '*';
  color: red; }

.required::-moz-placeholder:after {
  /* Firefox 19+ */
  content: '*';
  color: red; }

.required:-ms-input-placeholder:after {
  content: '*';
  color: red; }

.info-wrap {
  width: 510px;
  margin: auto; }
  @media (max-width: 759px) {
    .info-wrap {
      width: auto; } }

.next-step {
  margin: 20px 0px 0px; }

/*# sourceMappingURL=form_page.css.map */
