@import "libs/mixins";
@import "libs/fonts";
@import "libs/breakpoints-desktop_first";

.form-page {
  position: relative;
}

.conditional-show {
  display: none;
}

.show {
  display: block !important;
}

.show-inline {
  display: inline-block !important;

  @include mobile-s{
    margin-top: 20px !important;
  }
}

.error {
  border: 1px solid $red !important;
}

#error {
  color: $red;
}

#success{
  color: green;
}

.result-msg {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 71px;
}

span.star {
  color: $red;
  margin: 0 0 0 5px;
}

.nav-form {
  margin-bottom: 50px;
  text-align: center !important;

  @include mobile-s {
    text-align: left;
    margin-bottom: 30px;
    display: inline-block;
  }

  li {
    display: inline-block;
    @include font-semibold();
    @include font-size(16);
    position: relative;
    min-width: 210px;
    @include tablet{
      min-width: 205px;
    }
    @include mobile{
      min-width: 150px;
      text-align: left;
    }

    @include mobile-s {
      display: block;
      min-width: initial;
    }

    a {
      color: $prim !important;
      padding: 20px 0;
      display: block;
      @include transition(all .3s ease-in-out);
      text-align: center;

      @include mobile-s{
        padding: 8px 0px 8px 25px;
        text-align: left;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 110%;
        left: -5%;
        right: -5%;
        background: $red;

        @include mobile-s {
          height: 35px;
          width: 1px;
          bottom: 11px;
          top: 50%;
          left: 6px;
          right: auto;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -7px;
        width: 10px;
        height: 10px;
        background: #fff;
        border: 2px solid $red;
        @include border-radius(10px);
        left: 0;
        right: 0;
        margin: auto;
        @include transition(all .3s ease-in-out);

        @include mobile-s {
          bottom: 11px;
          margin: 0;
        }
      }

      &.active:after {
        background: $red;
      }

      &:hover {
        color: $red !important;

        &:after {
          background: $red;
        }
      }
    }

    &:first-child a {

      &:before {
        width: 50%;
        right: -5px;
        left: auto;

        @include mobile-s {
          width: 1px;
          right:auto;
          left: 6px;
        }
      }
    }

    &:last-child a {

      &:before {
        width: 50%;
        left: -5px;
        right: auto;
        @include mobile-s {
          display: none;
         }
      }
    }
  }
}

#form-figel {
  margin: auto;

  p {
    margin: 0 auto 40px;
    text-align: justify;
    width: 510px;

    @include tablet{
      width: auto;
    }

    @include mobile-s{
      margin: 0 auto 20px;
    }
  }

  h4 {
    @include font-semibold();
    @include font-size(16);
    text-align: left;
    margin-bottom: 20px;
  }

  .step-title {
    display: none;
  }

  .step-wrapper {
    width: 90%;
    margin: auto;
    display: none;
    text-align: center;
    @include clearfix();

    @include mobile-s{
      width: 100%;
      text-align: center;
    }

    &.product-list {
      width: 100%;
    }

    &.active {
      display: block;
    }

  }

  .product-list ul {
    outline: none;
    text-align: left;

    li {
      list-style: none;
      @include font-size(15);
      @include font-semibold();
      padding: 20px 60px 20px 25px;
      border-top: 1px solid $background;
      position: relative;

      * {
        display: inline-block;
        vertical-align: middle;
      }

      @include mobile-s {
        text-align: center;
      }

      div.counter {
        display: inline-block;
        color: $red;
        @include font-size(18);
        @include font-semibold();
        vertical-align: middle;

        @include mobile-s {
          position: absolute;
          top: 50%;
          margin-top: -9px;
          left: 0;
        }
      }

      div.dummy-div {
        height: 80px;
      }

      div.img-wrapper {
        width: 80px;
        margin: 0 35px 0 25px;

        img {
          max-height: 80px;
          max-width: 80px;
          height: auto;
          width: auto;
        }

        @include mobile-s {
          margin: 0 auto 20px;
        }
      }

      p.name {
        margin: 0;

        @include mobile-s {
          display: block;
        }
      }

      button.delete_from_cart {
        cursor: pointer;
        background: #fff;
        border: none;
        box-shadow: none;
        outline: none;
        font-size: 0;
        position: absolute;
        top: 50%;
        right: 25px;
        margin-top: -12px;

        &:before {
          content: url(../images/kosz.png);
        }
      }
    }

    li:last-child {
      border-bottom: 1px solid $background;
    }
  }

  .inputWrapper {
    margin: 35px auto;
    position: relative;

    @include mobile-s{
      margin: 0px auto 20px;
      text-align: left;
    }

    &.inline {
      display: inline-block;

      label {
        display: inline-block;
        text-align: left;
        margin-right: 40px;

        @include mobile-s{
          display: block;
          margin-bottom:10px;
          margin-right: 0px;
        }
      }
    }

    &.placeholder {
      position: relative;
      width: 370px;
      margin: 15px auto;

      @include mobile-s{
        width: 230px;
      }

      input {
        width: 100%;
        height: 35px;
        @include box-sizing(border-box);
        @include transition(margin .3s ease-in-out);
        z-index: 2;
        position: relative;

        &.unfold {
          margin-bottom: 35px;
        }
      }

      .holder {
        position: absolute;
        @include font-size(15);
        padding: 8px 15px;
        top: 0;
        z-index: 3;

        span {
          color: $red;
        }

      }

      .error-msg {
        position: absolute;
        margin: 0;
        bottom: 0;
        color: $red;
       
      }
    }

    label.list {
      display: block;
      text-align: left;
      margin: 0 0 6px 0;
    }

    .field-info {
      display: block;
      margin-bottom: 20px;
    }

    .error-msg {
      position: absolute;
      margin: 0;
      bottom: -40px;
      color: $red;
      left:0;
      line-height: normal;

      @include mobile{
        bottom: -25px;

      }
      @include mobile-s{
        position: static;
        bottom: -20px;
      }
    }
  }

  .boxedWrapper {
    display: table;
    margin: 35px auto;
    width: 100%;

    @include mobile{
      margin: 0px auto;
    }

    @include mobile-s{
      margin: 0 auto;
    }

    &.one-column {
      width: 50%;

      @include tablet-s{
        width: 80%;
      }
      @include mobile-s{
        width: 100%;
      }
    }

    .boxed {
      display: table-cell;
      vertical-align: top;
      position: relative;
      border-left: 15px solid #fff;
      border-right: 15px solid #fff;
      background-color: #F2F2F2;
      @include box-sizing(border-box);

      @include tablet-s{
        display: block;
        width: 80%;
        margin: 0 auto 35px;
      }

      @include mobile-s{
        width: 100%;
      }

      .inputWrapper {
        text-align: left;
        padding-bottom: 100px;
        position: relative;
        margin: 0;

        @include mobile-s{
          padding: 20px 20px 120px 20px;
        }

        h4 {
          text-align: center;
        }

        &.inline {
          padding-top: 20px;

          h4 {
            color: $blue;
          }

          .error-msg {
            bottom: 60px;

            @include mobile-s{
              bottom: 98px;
            }
          }
        }

        &.bordered {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          border-top: 4px solid #fff;
          padding: 12px 0;
          text-align: center;

          @include mobile-s{
            padding: 12px 20px;
          }

          h4, input {
            display: inline-block;
            margin: 0 0 0 10px;
          }

          h4{
            @include mobile-s{
              margin: 0 0 10px 0px;
              display: block;
            }
          }

          span {
            margin-left: 5px;
          }

        }
      }
    }
  }

  .g-recaptcha {
    width: 370px;
    text-align: right;
    max-width: 100%;

    @include mobile-xs {
      margin-left: 0;
      transform:scale(0.77);
      -webkit-transform:scale(0.77);

    }

    > div {
      display: inline-block;
      @include border-radius(5);
      @include mobile-xs {
        margin-left: 0;
      }
    }

    .error-msg {
      left: 0;
      right:0 ;
      bottom: -30px;
      text-align: center;

      @include tablet {
        line-height: normal;
        margin-top: 15px;
      }
    }
  }

  .border {
    width: 100%;
    height: 0;
    border-top: 1px solid $background;
    display: none;
  }

  .globalError {
    color: $red;
    display: none;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
  }

  .info {
    float: left;
    line-height: normal;
    margin: 20px 0 0 0px;
    padding: 6px 42px 6px 0;
    width: auto;

    @include mobile-s{
        margin: 0px;
    }
  }

  button, input[type="submit"] {
    background: #fff;
  }
}

input[type="radio"], input[type="checkbox"] {
  display: none;

  & + span {
    position: relative;
    padding-left: 26px !important;
    display: inline-block;
    @include box-sizing(border-box);
    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 3px;
      border: 1px solid #d2d2d2;
      border-radius: 5px;
      background-color: #fff;
    }
  }
}

input[type=checkbox]:checked + span:after {
  content: "\2713";
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  position: absolute;
  left: 4px;
  top: 4px;
  color: red;
}

input[type=radio]:checked + span:after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: $red;
  font-size: 20px;
  text-align: center;
  line-height: 16px;
  position: absolute;
  border-radius: 5px;
  left: 6px;
  top: 9px;
}

input[type="number"], input[type="text"] {
  border: 1px solid #d7dadb;
  @include border-radius(5px);
  width: 51px;
  height: 28px;
  padding-left: 14px;
  outline: none;
}

textarea {
  resize: vertical;
  border: 1px solid #d7dadb;
  border-radius: 5px;
  padding: 8px 15px;
  outline: none;
  @include box-sizing(border-box);
  width: 100%;


  //@include mobile-s{
  //  width: 100%;
  //}
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.required::-webkit-input-placeholder:after {
  content: '*';
  color: red;
}

.required:-moz-placeholder:after {
  /* Firefox 18- */
  content: '*';
  color: red;
}

.required::-moz-placeholder:after {
  /* Firefox 19+ */
  content: '*';
  color: red;
}

.required:-ms-input-placeholder:after {
  content: '*';
  color: red;
}
.info-wrap{
  width: 510px;
  margin: auto;
  @include mobile{
    width: auto;
  }
}

.next-step{
  margin: 20px 0px 0px;
}