@import "libs/fonts";

.no-js{
  .cart-page{
    #product-list, #contact-data{
      display: block;
      outline: none;
    }
    #next{
      display: none;
    }

    #contact-data{
      margin-top: 50px; 
    }
  }

  .form-page {
    #form-figel {

      .conditional-show {
        display: block;
      }

      .step-title {
        display: block;
        color: $red;
        font-size: 1.3em;
        text-align: center;
        margin: 40px auto 0;
        border-top: 1px solid;
        padding: 10px;
      }

      .step-wrapper {
        display: block !important;
      }

      .next-step {
        display: none !important;
      }

      .info {
        display: none;
      }

      #step3 .info {
        display: block;
      }
    }
  }
}