.wrapper {
  padding-top: 30px; }
  .wrapper .b {
    padding-bottom: 15px;
    border-left: 2px solid black; }
    .wrapper .b:last-child, .wrapper .b:nth-last-child(2) {
      border-left: 2px solid transparent; }
    .wrapper .b header {
      margin: 0;
      padding-left: 20px;
      position: relative;
      padding-bottom: 15px;
      height: 25px; }
      .wrapper .b header > * {
        display: inline-block;
        vertical-align: middle; }
      .wrapper .b header:before {
        content: '';
        width: 14px;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 30%;
        left: -2px; }
      .wrapper .b header:after {
        position: absolute;
        content: '';
        width: 2px;
        height: 68%;
        background-color: black;
        left: -2px;
        top: -37%; }
      .wrapper .b header p {
        margin: 0;
        line-height: 1; }
      .wrapper .b header .editable {
        margin-right: 10px;
        min-width: 30px; }
        .wrapper .b header .editable span {
          display: block;
          line-height: 1; }
        .wrapper .b header .editable input, .wrapper .b header .editable select {
          display: none;
          vertical-align: middle;
          padding-top: 0;
          padding-bottom: 0;
          margin: 0; }
        .wrapper .b header .editable.letter > span {
          font-size: 1.1em;
          font-weight: bold;
          background-color: #444;
          color: white;
          text-align: center;
          width: 40px;
          height: 28px;
          line-height: 28px; }
          .wrapper .b header .editable.letter > span .err {
            color: red;
            display: inline-block; }
        .wrapper .b header .editable.letter input {
          width: 40px;
          height: 28px;
          margin: 0;
          text-align: center; }
        .wrapper .b header .editable.manager span .err {
          color: red;
          font-weight: bold; }
        .wrapper .b header .editable.manager input, .wrapper .b header .editable.manager select {
          width: 250px; }
      .wrapper .b header h4 {
        font-size: 1.1em;
        margin: 0 20px 0 0; }
      .wrapper .b header .update {
        margin-left: 20px;
        color: #F29D1D; }
        .wrapper .b header .update input {
          border: 1px solid #F29D1D; }
    .wrapper .b .sb {
      margin-left: 30px;
      border-left: 2px solid black;
      padding-bottom: 15px; }
      .wrapper .b .sb.invisible h4, .wrapper .b .sb.invisible p, .wrapper .b .sb .invisible h4, .wrapper .b .sb .invisible p {
        color: #bbb !important; }
      .wrapper .b .sb.invisible .editable.letter > span, .wrapper .b .sb .invisible .editable.letter > span {
        background-color: #bbb !important; }
      .wrapper .b .sb header {
        padding-bottom: 0; }
      .wrapper .b .sb:last-child {
        border-left: 2px solid transparent; }
      .wrapper .b .sb h4 {
        font-size: 1.1em; }
      .wrapper .b .sb .sbb {
        margin-left: 30px;
        border-left: 2px solid black;
        padding-top: 15px; }
        .wrapper .b .sb .sbb:last-child {
          border-left: 2px solid transparent; }
        .wrapper .b .sb .sbb h4 {
          font-size: 1em; }
  .wrapper .filters {
    padding-left: 80px;
    display: none; }
    .wrapper .filters.show {
      display: block; }
    .wrapper .filters p {
      line-height: 1em;
      margin: 5px 0; }
  .wrapper .nav {
    position: fixed;
    top: 100px;
    right: 100px; }
    .wrapper .nav button#show {
      margin: 1px;
      padding: 3px 5px;
      font-size: 14px;
      width: 150px; }
    .wrapper .nav input.save {
      width: 100px; }

/*# sourceMappingURL=branches-manager.css.map */
