.wrapper {
  padding-top: 30px;

  .b {
    padding-bottom: 15px;
    border-left: 2px solid black;

    &:last-child, &:nth-last-child(2) {
      border-left: 2px solid transparent;
    }

    header {
      margin: 0;
      padding-left: 20px;
      position: relative;
      padding-bottom: 15px;
      height: 25px;

      & > * {
        display: inline-block;
        vertical-align: middle;
      }

      &:before {
        content: '';
        width: 14px;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 30%;
        left: -2px;
      }
      &:after {
        position: absolute;
        content: '';
        width: 2px;
        height: 68%;
        background-color: black;
        left: -2px;
        top: -37%;
      }

      p {
        margin: 0;
        line-height: 1;
      }

      .editable {
        margin-right: 10px;
        min-width: 30px;

        span {
          display: block;
          line-height: 1;
        }
        input, select {
          display: none;
          vertical-align: middle;
          padding-top: 0;
          padding-bottom: 0;
          margin: 0;
        }

        &.letter {
          & > span {
            font-size: 1.1em;
            font-weight: bold;
            background-color: #444;
            color: white;
            text-align: center;
            width: 40px;
            height: 28px;
            line-height: 28px;

            .err {
              color: red;
              display: inline-block;
            }
          }
          input {
            width: 40px;
            height: 28px;
            margin: 0;
            text-align: center;
          }
        }
        &.manager {

          span {
            .err {
              color: red;
              font-weight: bold;
            }
          }
          input, select {
            width: 250px;
          }
        }
      }

      h4 {
        font-size: 1.1em;
        margin: 0 20px 0 0;
      }

      .update {
        margin-left: 20px;
        color: #F29D1D;

        input {
          border: 1px solid #F29D1D;
        }
      }
    }

    .sb {
      margin-left: 30px;
      border-left: 2px solid black;
      padding-bottom: 15px;

      &.invisible, .invisible {
        h4, p {
          color: #bbb !important;
        }

        .editable.letter > span {
          background-color: #bbb !important;
        }
      }

      header {
        padding-bottom: 0;
      }

      &:last-child {
        border-left: 2px solid transparent;
      }

      h4 {
        font-size: 1.1em;
      }

      .sbb {
        margin-left: 30px;
        border-left: 2px solid black;
        padding-top: 15px;

        &:last-child {
          border-left: 2px solid transparent;
        }

        h4 {
          font-size: 1em;
        }
      }
    }
  }

  .filters {
    padding-left: 80px;
    display: none;

    &.show {
      display: block;
    }

    p {
      line-height: 1em;
      margin: 5px 0;
    }
  }
  .nav {
    position: fixed;
    top: 100px;
    right: 100px;

    button#show {
      margin: 1px;
      padding: 3px 5px;
      font-size: 14px;
      width: 150px;
    }

    input.save {
      width: 100px;
    }
  }
}