#adminmenu .wp-submenu-head, #adminmenu a.menu-top {
  font-size: 12px;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
  width: 180px;
}

#adminmenu .wp-submenu {
  left: 180px;
}

#adminmenu li.wp-menu-separator {
  height: 10px;
}

#wpcontent, #wpfooter {
  margin-left: 180px;
}

.acf-postbox {

  &.seamless {
    width: 23%;
    margin-left: 1%;
    margin-bottom: 0;
    min-height: 120px;
    display: inline-block;
    vertical-align: top;
  }

  & > .inside > .field {
    padding: 5px 10px;
  }

  p.label {
    margin: 0;

    label {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 5px;
    }
  }
}

.post-type-search-filter-widget table.wp-list-table {
  table-layout: auto;
}

.menu-item-handle .item-title {
  margin-bottom: 3em !important;
  margin-right: 1em !important;
}

.item-type {
  margin-top: 2em !important;
}